<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Admin Investory</title>

    <!-- Bootstrap Core CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/stylesheets/sb-admin.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/stylesheets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<script>
   
    
      
function download_investorycsv() {
    
  
  
  var data = [];
    
  <%   for(var i=0;i<reconciledata.length;i++){ %>
        
         var da=new Array([
     ['<%=reconciledata[i].userid%>','<%=reconciledata[i].userpan%>','<%=reconciledata[i].name%>','<%=reconciledata[i].userinvestmentorderid%>','<%=reconciledata[i].date%>','<%=reconciledata[i].schemecode%>','<%=reconciledata[i].scheme%>','<%=reconciledata[i].amount%>','<%=reconciledata[i].bsetxnreference%>','<%=reconciledata[i].foliono%>','<%=reconciledata[i].nav%>','<%=reconciledata[i].units%>','<%=reconciledata[i].transaction_type%>','<%=reconciledata[i].remarks%>'
     ]
                  ]);
       data[<%=i%>]= da;
       
<%    } %>
    
   var csv = 'User id,Pan,Name,Order id,Order date,Scheme code,Scheme,Amount,Bse Trxn Ref,Folio no,Nav,Units,Trxn type,Remarks\n';
    data.forEach(function(row) {
            csv += row.join(',');
            csv += "\n";
    });
 
    console.log(csv);
    var hiddenElement = document.createElement('a');
    hiddenElement.href = 'data:text/csv;charset=utf-8,' + encodeURI(csv);
    hiddenElement.target = '_blank';
    hiddenElement.download = 'investoryFile.csv';
    hiddenElement.click();
    

}
    
</script>
<body>
  <%include partials/header%>
    <div id="wrapper">

      
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li>
                        <a href="">  <i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                    </li>
                     <li>
                        <a href="/admin/uploadInvestory"><i class="fa fa-fw fa-bar-chart-o"></i> Investory File to DB</a>
                    </li>
                    <li>
                        <a href="/admin/uploadcsv"><i class="fa fa-fw fa-bar-chart-o"></i> Fund house File to DB</a>

                    </li>
                    <li>
                        <a href="/admin/tables"><i class="fa fa-fw fa-table"></i> KYC</a>
                    </li>
                     <li>
                        <a href="/admin/reconcile"><i class="fa fa-fw fa-table"></i> Reconcile</a>
                    </li>
                    <li>
                        <a href="/admin/failedOrders"><i class="fa fa-fw fa-edit"></i> Failed Orders</a>
                    </li>
                    <li class="active">
                        <a href="/admin/reports"><i class="fa fa-fw fa-desktop"></i> Reports</a>
                    </li>
                   <!--  <li>
                        <a href="/admin/allocation"><i class="fa fa-fw fa-wrench"></i>Assets Allocation</a>
                    </li>-->
                   <li>
                        <a href="/admin/assetsUpload"><i class="fa fa-fw fa-wrench"></i> Update Asset allocation matrix</a>
                    </li>
                    <li>
                        <a href="/admin/funds"><i class="fa fa-fw fa-wrench"></i> Upload Schemes Matrix</a>
                    </li>
                    <li>
                        <a href="/admin/schemelist"><i class="fa fa-fw fa-wrench"></i> Schemes allocation matrix</a>
                    </li>
                     <li>
                        <a href="/admin/createuser"><i class="fa fa-fw fa-wrench"></i> Create Users</a>
                    </li>
                    <li>
                        <a href="/admin/Manage_users"><i class="fa fa-fw fa-wrench"></i> Manage Users</a>
                    </li>
                    <!--<li>
                        <a href="/admin/bootstrap-grid"><i class="fa fa-fw fa-wrench"></i> Bootstrap Grid</a>
                    </li>
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> Dropdown <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="demo" class="collapse">
                            <li>
                                <a href="#">Dropdown Item</a>
                            </li>
                            <li>
                                <a href="#">Dropdown Item</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="/admin/blank-page"><i class="fa fa-fw fa-file"></i> Blank Page</a>
                    </li>
                    <li>
                        <a href="/admin/index-rtl"><i class="fa fa-fw fa-dashboard"></i> RTL Dashboard</a>
                    </li>
               --> </ul>
            </div>
            <!-- /.navbar-collapse -->
       

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Reports
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="index.html">Dashboard</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-desktop"></i>  Reports
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->

                             <div class="container">
 
           
                    
  <div class="form-group">

<label>Download Investory File :</label>

          <br>               
<button type="button" class="btn btn-default btn-sm pull-left" onclick="download_investorycsv()"  ng-click=''> Download</button>
</div>                    
         <br><br>                    
         <br><br>

                 </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="/javasripts/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/javasripts/bootstrap.min.js"></script>

</body>

</html>
