<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Admin Investory</title>

    <!-- Bootstrap Core CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/stylesheets/sb-admin.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/stylesheets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<!--<script src="dirPagination.js"></script>-->
 
<style>
    .loader {
	position: fixed;
	left: 15%;
	top: 7%;
	 width:84%; 
	height: 100%;
	z-index: 9999;
	background: url('../../../images/ellipsis.gif') 50% 50% no-repeat rgb(249,249,249);
}  
    </style>
      <script>
             
        $(window).load(function() {
	$(".loader").fadeOut("slow");
})</script>
</head>  
<script>
   
    </script>
<body >
<div class="loader"></div>
     <%include partials/header%>
    <div id="wrapper">

    
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li>
                        <a href=""><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                    </li>
                     <li>
                        <a href="/admin/uploadInvestory"><i class="fa fa-fw fa-bar-chart-o"></i> Investory File to DB</a>
                    </li>
                    <li>
                        <a href="/admin/uploadcsv"><i class="fa fa-fw fa-bar-chart-o"></i> Fund house File to DB</a>

                    </li>
                    <li>
                        <a href="/admin/tables"><i class="fa fa-fw fa-table"></i> KYC</a>
                    </li>
                     <li>
                        <a href="/admin/reconcile"><i class="fa fa-fw fa-table"></i> Reconcile</a>
                    </li>
                    <li>
                        <a href="/admin/failedOrders"><i class="fa fa-fw fa-edit"></i> Failed Orders</a>
                    </li>
                    <li>
                        <a href="/admin/reports"><i class="fa fa-fw fa-desktop"></i> Reports</a>
                    </li>
                    <!-- <li>
                        <a href="/admin/allocation"><i class="fa fa-fw fa-wrench"></i> Assets Allocation</a>
                    </li>-->
                    <li>
                        <a href="/admin/assetsUpload"><i class="fa fa-fw fa-wrench"></i> Update Asset allocation matrix</a>
                    </li>
                    <li>
                        <a href="/admin/funds"><i class="fa fa-fw fa-wrench"></i> Upload Schemes Matrix</a>
                    </li>
                     <li class="active">
                        <a href="/admin/schemelist"><i class="fa fa-fw fa-wrench"></i> Schemes allocation matrix</a>
                    </li>
                     <li>
                        <a href="/admin/createuser"><i class="fa fa-fw fa-wrench"></i> Create Users</a>
                    </li>
                    <li>
                        <a href="/admin/Manage_users"><i class="fa fa-fw fa-wrench"></i> Manage Users</a>
                    </li>
                    <!--<li>
                        <a href="/admin/bootstrap-grid"><i class="fa fa-fw fa-wrench"></i> Bootstrap Grid</a>
                    </li>
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> Dropdown <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="demo" class="collapse">
                            <li>
                                <a href="#">Dropdown Item</a>
                            </li>
                            <li>
                                <a href="#">Dropdown Item</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="/admin/blank-page"><i class="fa fa-fw fa-file"></i> Blank Page</a>
                    </li>
                    <li>
                        <a href="/admin/index-rtl"><i class="fa fa-fw fa-dashboard"></i> RTL Dashboard</a>
                    </li>
                --></ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="page-header">
                           Schemes Allocation Matrix
                        </h2>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  Dashboard
                            </li>
                            <li class="active">
                                <i class="fa fa-table"></i> Schemes Allocation Matrix
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                      
      
                    <div class="col-lg-12">
                        <h2>Schemes Allocation Matrix</h2>
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Year From</th>
                                        <th>Year To</th>
                                        <th>Sip From</th>
                                        <th>Sip To</th>
                                         <th>Name</th>
                                        <th>Code</th>
                                        
                                        <th>Category</th>
                                         <th>Sub Category</th>
                                        <th>Risk Profile</th>
                                        <th>Rating</th>
                                    </tr>
                                </thead>
                                <tbody>
                                        
                                    <%for (var i=0;i<schemesData.length;i++){%>      
                                    <tr>
                                         
                                        <td id="yearfrom" name="yearfrom" ng-model="yearfrom"><%=schemesData[i].yearfrom%></td>
                                        <td id="yearto" name="yearto" ng-model="yearto"><%=schemesData[i].yearto%></td>
                                        <td id="sipfrom" name="sipfrom" ng-model="sipfrom"><%=schemesData[i].sipfrom%></td>
                                        <td id="sipto" name="sipto" ng-model="sipto"><%=schemesData[i].sipto%></td>  
                                
                                         <td id="name"><%=schemesData[i].name%></td>
                                        <td id="name"><%=schemesData[i].code%></td>
                                        <td  id="category" name="category" ng-model="category"
                                            ><%=schemesData[i].category%> </td>
                                     <td id="subcategory" name="subcategory" ng-model="subcategory"><%=schemesData[i].subcategory%></td>  
                                      
                                          <td id="riskprofile" name="riskprofile" ng-model="riskprofile"><%=schemesData[i].riskprofile%></td>     
            
                                        <td id="rating" name="rating" ng-model="rating"><%=schemesData[i].rating%></td>
      
         
                                    </tr>
                                
                                         <%}%> 
                                    
                                   
                                </tbody>
                            </table>
                   </div>
                    </div>
    
                  </div>
                  
        
    </div>
        <!-- /.container-fluid -->

        <!-- /#page-wrapper -->
        </div>
    </div>
 <script src="/lib/angular.min.js"></script>
   <script>
 
    
 
        </script>
        
 
    
    <!-- jQuery -->
    <script src="/javascripts/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/javascripts/bootstrap.min.js"></script>

</body>

</html>
