        <head> <link rel="stylesheet" href="stylesheets/responsive.css">
<script type="text/javascript" src="javascripts/googleanalytics.js" ></script>
</head>             
    <div id="invoices" class="text-center">
           <link rel="stylesheet" href="stylesheets/responsive2560.css"  media="screen and (width:2560px) and (height:1600px)">
        
                <div class="page31" style="    margin-top: 4em;">
                        <%if(trxn){%>        
                       <div class="table-responsive tableAccounts investmentTable"style="" >
                        <table class="table table1"  style="  "  >
    <thead >
      <tr >
        <th class="thDates" >Dates</th>
        <th class="thInvoices" style= "border-right: 1px solid #35BFD3; width: 140px">Description</th>
        <th class="thAmount" style= "border-right: 1px solid #35BFD3; width: 83px"> Transaction Id</th>
        <th class="thAllocation" style= "border-right: 1px solid #35BFD3">Transaction.Ref</th>
        <th style= "border-right: 1px solid #35BFD3">Amount</th>
        <th class="thAmount" style="width: 140px">Status</th>
      </tr>
                            </thead>    </table>         
    
   <table class="table table2" style=" " >
      <tbody class="scrollbar"  id="ex3">
           <%for(i=0;i<trxn.length;i++){%>  
        <tr>
          <td><%=trxn[i].transactiondate%></td>
          <td style= "border-right: 1px solid #35BFD3; width: 140px"><%=trxn[i].description%></td>
          <td style= "border-right: 1px solid #35BFD3; width: 84px"><%=trxn[i].transactionid%></td>
          <td style= "border-right: 1px solid #35BFD3"><%=trxn[i].reference%></td>
          <td style= "border-right: 1px solid #35BFD3"><%=trxn[i].amount%></td>
          <td style="width: 140px"><%=trxn[i].status%></td>
            
        </tr>
          <%}%>
          
      </tbody>
  </table>
            
     <table class="table table3"  style=" "  >                
    <tbody >
        <td class="aba">
      <button type="" class="btn btn-lg moodNav  InvoicesButtons"  > Print</button>  
            <button type="" class="btn btn-lg moodNav InvoicesButtons"  > Mail</button>  
            <button type="" class="btn btn-lg moodNav  InvoicesButtons"  > Save</button>  
             
        </td>
       </tbody>
                            </table>                    
   <% }else{ %>
          <h2>There is no transactions yet</h2>
          <%}%>
                       </div>                 
                    

          </div>
     <div class="container">
   <% include partials/footer %> 
         </div>
    </div>       


























