<head> 
  <link rel="stylesheet" href="stylesheets/responsive.css"> 
  <link rel="stylesheet" href="stylesheets/responsive2560.css"  media="screen and (width:2560px) and (height:1600px)">
<script>

	function goalSelection(goal, mood){
    moodId = mood;
    var goalId = goal;
 	  window.location.href = "/GoalSelection?mood="+moodId+"&goal="+goalId+"&restart=true";
		var moodImgName = moodId;
    $(".frogImageMoods img").attr("src", $imgLink+moodImgName+$imgExtension);
    $(".frogImageMoods h1").html($Feeling+" "+moodId);
    var local;
		local = getGoals(moodId);
		$(".below").empty();
    for(i=local.length-1; i>= 0; i--){
      if(i==goalId){
        $(".below").prepend("<div class='goal' id='activ'><img src='"+$GoalimgLink+moodId+"/"+local[i]+$onHover+$imgExtension+"' mood="+moodId+" alt='Home view'><p id='mood'><span style='background-color: #FFDE15'></span>"+local[i]+"</p></div>");
        moodFile =  local[i]; 
      }else{
        $(".below").prepend("<div class='goal' id=''><img src='"+$GoalimgLink+moodId+"/"+local[i]+$imgExtension+"' mood="+moodId+" alt='Home view'><p id='mood'><span></span>"+local[i]+"</p></div>");
      }
    }
  }
</script>
</head> 
<!--<section>-->
    <!--BSE Modal Window-->
    <div class="modal fade" id="bseModal" role="dialog">
        <div class="modal-dialog modal-sm" style=" width: 512px; margin-left: 36em;">
            <!-- Modal content-->
            <div class="modal-content PAN">
                <div class="modal-body ">
                    <h1 class="PANHead">Congratulations!</h1>
                    <p>You Successfully copleted your payment</p>

                    <!-- <form class="formmodel PANInfo" id="checkPANStatus" name="checkPANStatus" onsubmit="checkPanStaus();">-->
                    <div class="bg-success" id="responseData">
                        <p>Your Order Payment is Successfull </p>
                        <a href="/Accounts">Click here to see your goal performance</a>
                    </div>
                    <br/> <div></div> <div></div> <div></div> <div></div> <div></div> <div></div> <div></div> <div></div> <div></div> <div></div> <div></div> <div></div> <div></div> <div></div> <div></div> <div></div> <div></div> <div></div>
                </div>
                <!--</form>-->
            </div>
        </div>
    </div>
    
<div class="forStory">
 <div class="container-fluid text-center" style="margin-top: 0em;">

 <div id="myStory" >
        <% if(invest) {  %>
    <div class="panel">
     
      <div class="panel-body text-center" >
        
        <% var investmentCount = 0; %>
		  <% goalCount = 0;for(i=0;i<invest.length; i++){ %>
		<%  investmentCount += Number(invest[i].count); %>
		<%  goalCount ++ %>
		  
<div style="display: flex" class="tar" id="tar<%= a=i+1 %>">
<p style=" flex: 1; text-decoration: underline;"><%= invest[i].name %></p>
<div style="flex: auto" id="myProgress">
  <div id="myBar1">
      
  </div>
 
</div>
<!--<p>0%</p>-->
<p style="flex: 1; font-weight: 600; margin-left: 1em;"><em> JUST STARTED</em></p>
</div>
<br />
<br />
		  <% } %>
</div>
    </div>
       
      <h4 style=" color: #333333;
    font-weight: 700;">You are just <%= 15 - goalCount %> goals away from becoming <em>THE FROG</em></h4>

        <div class="FrogHome"  >
                <div class="dotHr">
                <div></div>
        <div></div>
        <div></div> 
        <div></div>
        <div></div>
        <div></div>
        <div></div> 
        <div></div>
        <div></div>
        <div></div>
        <div></div> 
        <div></div>
        <div></div>
        <div></div>
        <div></div> 
        <div></div>

        <div></div>
        <div></div>
        <div></div> 
        <div></div>
                                        <div></div>
        <div></div>
        <div></div> 
        <div></div>
        <div></div>
        <div></div>
        <div></div> 
        <div></div>
        <div></div>
        <div></div>
        <div></div> 
        <div></div>
        <div></div>
        <div></div>
        <div></div> 
        <div></div>
                    
        <div></div>
        <div></div>
        <div></div> 
        <div></div>
                    
        <div></div>
        <div></div>
        <div></div> 
        <div></div>
                    
        <div></div>
        <div></div>
        <div></div> 
        <div></div>
                                        <div></div>
        <div></div>
        <div></div> 
        <div></div>
        <div></div>
        <div></div>
        <div></div> 
        <div></div>
        <div></div>
        <div></div>
        <div></div> 
        <div></div>
        <div></div>
        <div></div>
        <div></div> 
        <div></div>
                    
        <div></div>
        <div></div>
        <div></div> 
        <div></div>
                    
        <div></div>
        <div></div>
        <div></div> 
        <div></div>
                    
        <div></div>
        <div></div>
        <div></div> 
        <div></div>
                                        <div></div>
        <div></div>
        <div></div> 
        <div></div>
        <div></div>
        <div></div>
        <div></div> 
        <div></div>
        <div></div>
        <div></div>
        <div></div> 
        <div></div>
        <div></div>
        <div></div>
        <div></div> 
        <div></div>
        </div>
            <div class="container">
               <div class="row" style="    width: 100%;
    margin-top: 2em;
    margin-left: 22em;">
                
				   <% var egg = "",tadpole = "", froglet = "", frog = "";
				   if(goalCount <=3) 
						egg = "%20BLACK";
				   else if (goalCount <=5)
					   tadpole = "%20BLACK";
				    else if (goalCount <=10)
					   froglet = "%20BLACK";
				    else if (goalCount <=15)
					   frog = "%20BLACK";
					   
	
	%>
				   
                <div class="col-md-4 froggie">
                  <img src="images/animHow/3%20GOALS<%= egg %>.png" alt="The Egg"><br>
                  <% if(goalCount < 5) {%>
                  <div id="yCircle" class="yellow"></div>
                  <% } %>
                </div>
                <div class="col-md-4 froggie">
                  <img src="images/animHow/5%20GOALS<%= tadpole %>.png" alt="Tadpole"><br>
                  <% if(goalCount < 10 && goalCount > 4) {%>
                  <div id="yCircle" class="yellow"></div>
                  <% } %>
                </div>
                <div class="col-md-4 froggie">
                  <img src="images/animHow/10%20GOALS<%= froglet %>.png" alt="Froglet"><br>
                  <% if(goalCount < 15 && goalCount > 9 ) {%>
                  <div id="yCircle" class="yellow"></div>
                  <% } %>                  
                </div>
                <div class="col-md-4 froggie">
                  <img src="images/animHow/15%20GOALS<%= frog %>.png" alt="Frog"><br>
                  <% if(goalCount == 15 ) {%>
                  <div id="yCircle" class="yellow"></div>
                  <% } %>
                </div>
                
          
                    </div>
                
                </div>
         
                    <div class="dotHr">
                <div></div>
        <div></div>
        <div></div> 
        <div></div>
        <div></div>
        <div></div>
        <div></div> 
        <div></div>
        <div></div>
        <div></div>
        <div></div> 
        <div></div>
        <div></div>
        <div></div>
        <div></div> 
        <div></div>
                    

                    
        <div></div>
        <div></div>
        <div></div> 
        <div></div>
                                        <div></div>
        <div></div>
        <div></div> 
        <div></div>
        <div></div>
        <div></div>
        <div></div> 
        <div></div>
        <div></div>
        <div></div>
        <div></div> 
        <div></div>
        <div></div>
        <div></div>
        <div></div> 
        <div></div>
                    
        <div></div>
        <div></div>
        <div></div> 
        <div></div>
                    
        <div></div>
        <div></div>
        <div></div> 
        <div></div>
                    
        <div></div>
        <div></div>
        <div></div> 
        <div></div>
                                        <div></div>
        <div></div>
        <div></div> 
        <div></div>
        <div></div>
        <div></div>
        <div></div> 
        <div></div>
        <div></div>
        <div></div>
        <div></div> 
        <div></div>
        <div></div>
        <div></div>
        <div></div> 
        <div></div>
                    
        <div></div>
        <div></div>
        <div></div> 
        <div></div>
                    
        <div></div>
        <div></div>
        <div></div> 
        <div></div>
                    
        <div></div>
        <div></div>
        <div></div> 
        <div></div>
                                        <div></div>
        <div></div>
        <div></div> 
        <div></div>
        <div></div>
        <div></div>
        <div></div> 
        <div></div>
        <div></div>
        <div></div>
        <div></div> 
        <div></div>
        <div></div>
        <div></div>
        <div></div> 
        <div></div>

        </div>
            

        </div>
	 <% } else { %>
        <h4 class="youAreYet" style=" font-family: mermaid; font-size: 32px; color: #333333; font-weight: 700;">Your Story is yet to begin. Invest now to start your <span style="color: #35BFD3">invest<span style="color: #FFDE15">o</span>ry<span></h4>
	 <% } %>
    </div>
      
	</div>

<!--
</section>

<section>
-->
  <div class="container text-center" >

        <img style="margin-bottom:2em;" src="images/animHow/MYSCREEN.png" class="img-responsive img-story">
<div class="goalReport">
            <div class="goalReportData g1" onclick="goalSelection('Build a book collection','Nerdy');">
          <!--     <div id="invest_withdraw">
                
                  <div class="flag"></div>
                
                    <button id="Invest" type="" class="btn btn-lg moodNav" > Invest </button> 
                    <button id="Withdraw" type="" class="btn btn-lg moodNav" > Withdraw </button> 
                  
                   <div class="trackGoals">
                   
                       <h2>Track Goals</h2>
                       
                       <div class="dotHr">
                       <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                             <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                             <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                             <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                                      <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                             <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                             <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                             <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           
                       </div>
                   
                       <div class="sliderGoal">
                       
                           <div class="row">
                           
                               <div class="col-sm-6">
                           <p><span class="btn btn-default btn-circle">1</span>Goal 01</p>
                           <p><span class="btn btn-default btn-circle">2</span>The Second</p>
                            <p><span class="btn btn-default btn-circle">3</span>Third Goal long text</p>
                                    <p><span class="btn btn-default btn-circle">4</span>Third Goal long text</p>
                                </div>
                               
                               <div class="col-sm-6">
                                
                           <div id="myProgress">
  <div id="myBar1">
   
  </div>
 
</div>
<p>68%</p>

                                   <div id="myProgress">
  <div id="myBar2">
   
  </div>
 
</div>
<p>98%</p>
<div id="myProgress">
  <div id="myBar3">
   
  </div>
 
</div>
<p>10%</p>
                                </div>
                               
                           </div>
                           
                       
                       
                       </div>
                       
                   </div>
                   
              </div>
                -->
                <div id="yCircle"></div>
                <div id="goalName">Build a book collection</div>
                
            </div>
    
         <div class="goalReportData g2"  onclick="goalSelection('Ann gifts','Loved');">
              
               <!-- <div id="invest_withdraw">
                
                  <div class="flag"></div>
                
                    <button id="Invest" type="" class="btn btn-lg moodNav" > Invest </button> 
                    <button id="Withdraw" type="" class="btn btn-lg moodNav" > Withdraw </button> 
                                     <div class="trackGoals">
                   
                       <h2>Track Goals</h2>
                       
                       <div class="dotHr">
                       <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                             <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                             <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                             <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                                      <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                             <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                             <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                             <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           
                       </div>
                   
                       <div class="sliderGoal">
                       
                           <div class="row">
                           
                               <div class="col-sm-6">
                           <p><span class="btn btn-default btn-circle">1</span>Goal 01</p>
                           <p><span class="btn btn-default btn-circle">2</span>The Second</p>
                            <p><span class="btn btn-default btn-circle">3</span>Third Goal long text</p>
                                    <p><span class="btn btn-default btn-circle">4</span>Third Goal long text</p>
                                </div>
                               
                               <div class="col-sm-6">
                                
                           <div id="myProgress">
  <div id="myBar1">
   
  </div>
 
</div>
<p>68%</p>

                                   <div id="myProgress">
  <div id="myBar2">
   
  </div>
 
</div>
<p>98%</p>
<div id="myProgress">
  <div id="myBar3">
   
  </div>
 
</div>
<p>10%</p>
                                </div>
                               
                           </div>
                           
                       
                       
                       </div>
                       
                   </div>
              </div>
                -->
                <div id="yCircle"></div>
                <div id="goalName">Ann gifts</div>
                
            </div>
    
        <div class="goalReportData g3" onclick="goalSelection('Fancy car','Rich');">
          <div id="yCircle"></div>
          <div id="goalName">Fancy car</div>
        </div>
    
        <div class="goalReportData g16" onclick="goalSelection('World Cup','Social');">
          <div id="yCircle"></div>
          <div id="goalName">World Cup</div>
        </div>
    
        <div class="goalReportData g17" onclick="goalSelection('Concert','Social');">
          <div id="yCircle"></div>
          <div id="goalName">Concert</div>
        </div>
    
        <div class="goalReportData g18" onclick="goalSelection('Holiday','Social');">
          <div id="yCircle"></div>
          <div id="goalName">Holiday</div>
        </div>
        <div class="goalReportData g19" onclick="goalSelection('Holiday','Social');">
          <div id="yCircle"></div>
          <div id="goalName">Social</div>
        </div>
              
               <!--<div id="invest_withdraw">
                
                  <div class="flag"></div>
                
                    <button id="Invest" type="" class="btn btn-lg moodNav" > Invest </button> 
                    <button id="Withdraw" type="" class="btn btn-lg moodNav" > Withdraw </button> 
                                     <div class="trackGoals">
                   
                       <h2>Track Goals</h2>
                       
                       <div class="dotHr">
                       <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                             <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                             <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                             <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                                      <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                             <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                             <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                             <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           
                       </div>
                   
                       <div class="sliderGoal">
                       
                           <div class="row">
                           
                               <div class="col-sm-6">
                           <p><span class="btn btn-default btn-circle">1</span>Goal 01</p>
                           <p><span class="btn btn-default btn-circle">2</span>The Second</p>
                            <p><span class="btn btn-default btn-circle">3</span>Third Goal long text</p>
                                    <p><span class="btn btn-default btn-circle">4</span>Third Goal long text</p>
                                </div>
                               
                               <div class="col-sm-6">
                                
                           <div id="myProgress">
  <div id="myBar1">
   
  </div>
 
</div>
<p>68%</p>

                                   <div id="myProgress">
  <div id="myBar2">
   
  </div>
 
</div>
<p>98%</p>
<div id="myProgress">
  <div id="myBar3">
   
  </div>
 
</div>
<p>10%</p>
                                </div>
                               
                           </div>
                           
                       
                       
                       </div>
                       
                   </div>
              </div>-->
                

                
            
    
             <div class="goalReportData g4" onclick="goalSelection('Medical corpus','Broke');">
               <!--<div id="invest_withdraw">
                
                  <div class="flag"></div>
                
                    <button id="Invest" type="" class="btn btn-lg moodNav" > Invest </button> 
                    <button id="Withdraw" type="" class="btn btn-lg moodNav" > Withdraw </button> 
                                     <div class="trackGoals">
                   
                       <h2>Track Goals</h2>
                       
                       <div class="dotHr">
                       <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                             <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                             <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                             <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                                      <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                             <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                             <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                             <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           
                       </div>
                   
                       <div class="sliderGoal">
                       
                           <div class="row">
                           
                               <div class="col-sm-6">
                           <p><span class="btn btn-default btn-circle">1</span>Goal 01</p>
                           <p><span class="btn btn-default btn-circle">2</span>The Second</p>
                            <p><span class="btn btn-default btn-circle">3</span>Third Goal long text</p>
                                    <p><span class="btn btn-default btn-circle">4</span>Third Goal long text</p>
                                </div>
                               
                               <div class="col-sm-6">
                                
                           <div id="myProgress">
  <div id="myBar1">
   
  </div>
 
</div>
<p>68%</p>

                                   <div id="myProgress">
  <div id="myBar2">
   
  </div>
 
</div>
<p>98%</p>
<div id="myProgress">
  <div id="myBar3">
   
  </div>
 
</div>
<p>10%</p>
                                </div>
                               
                           </div>
                           
                       
                       
                       </div>
                       
                   </div>
              </div>-->
                
                <div id="yCircle"></div>
                <div id="goalName">Medical corpus</div>
                
            </div>
    
      <div class="goalReportData g5" onclick="goalSelection('Honeymoon','Loved');">
              
                <!--<div id="invest_withdraw">
                
                  <div class="flag"></div>
                
                    <button id="Invest" type="" class="btn btn-lg moodNav" > Invest </button> 
                    <button id="Withdraw" type="" class="btn btn-lg moodNav" > Withdraw </button> 
                                     <div class="trackGoals">
                   
                       <h2>Track Goals</h2>
                       
                       <div class="dotHr">
                       <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                             <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                             <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                             <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                                      <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                             <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                             <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                             <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           
                       </div>
                   
                       <div class="sliderGoal">
                       
                           <div class="row">
                           
                               <div class="col-sm-6">
                           <p><span class="btn btn-default btn-circle">1</span>Goal 01</p>
                           <p><span class="btn btn-default btn-circle">2</span>The Second</p>
                            <p><span class="btn btn-default btn-circle">3</span>Third Goal long text</p>
                                    <p><span class="btn btn-default btn-circle">4</span>Third Goal long text</p>
                                </div>
                               
                               <div class="col-sm-6">
                                
                           <div id="myProgress">
  <div id="myBar1">
   
  </div>
 
</div>
<p>68%</p>

                                   <div id="myProgress">
  <div id="myBar2">
   
  </div>
 
</div>
<p>98%</p>
<div id="myProgress">
  <div id="myBar3">
   
  </div>
 
</div>
<p>10%</p>
                                </div>
                               
                           </div>
                           
                       
                       
                       </div>
                       
                   </div>
              </div>-->
                
                <div id="yCircle"></div>
                <div id="goalName">Honeymoon</div>
                
            </div>
    
          <div class="goalReportData g6" onclick="goalSelection('Marriage','Loved');">
              
             <!-- <div id="invest_withdraw">
                
                  <div class="flag"></div>
                
                    <button id="Invest" type="" class="btn btn-lg moodNav" > Invest </button> 
                    <button id="Withdraw" type="" class="btn btn-lg moodNav" > Withdraw </button> 
                                     <div class="trackGoals">
                   
                       <h2>Track Goals</h2>
                       
                       <div class="dotHr">
                       <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                             <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                             <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                             <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                                      <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                             <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                             <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                             <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           
                       </div>
                   
                       <div class="sliderGoal">
                       
                           <div class="row">
                           
                               <div class="col-sm-6">
                           <p><span class="btn btn-default btn-circle">1</span>Goal 01</p>
                           <p><span class="btn btn-default btn-circle">2</span>The Second</p>
                            <p><span class="btn btn-default btn-circle">3</span>Third Goal long text</p>
                                    <p><span class="btn btn-default btn-circle">4</span>Third Goal long text</p>
                                </div>
                               
                               <div class="col-sm-6">
                                
                           <div id="myProgress">
  <div id="myBar1">
   
  </div>
 
</div>
<p>68%</p>

                                   <div id="myProgress">
  <div id="myBar2">
   
  </div>
 
</div>
<p>98%</p>
<div id="myProgress">
  <div id="myBar3">
   
  </div>
 
</div>
<p>10%</p>
                                </div>
                               
                           </div>
                           
                       
                       
                       </div>
                       
                   </div>
              </div>
                <div id="yCircle"></div>
                <div id="goalName">Marriage</div>
                
            </div>
    
              <div class="goalReportData g7">
              
                <div id="invest_withdraw">
                
                  <div class="flag"></div>
                
                      <button id="Withdraw" type="" class="btn btn-lg moodNav" > Withdraw </button> 
                    <button id="Invest" type="" class="btn btn-lg moodNav" > Invest </button> 
                  
                                     <div class="trackGoals">
                   
                       <h2>Track Goals</h2>
                       
                       <div class="dotHr">
                       <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                             <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                             <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                             <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                                      <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                             <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                             <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                             <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           
                       </div>
                   
                       <div class="sliderGoal">
                       
                           <div class="row">
                           
                               <div class="col-sm-6">
                           <p><span class="btn btn-default btn-circle">1</span>Goal 01</p>
                           <p><span class="btn btn-default btn-circle">2</span>The Second</p>
                            <p><span class="btn btn-default btn-circle">3</span>Third Goal long text</p>
                                    <p><span class="btn btn-default btn-circle">4</span>Third Goal long text</p>
                                </div>
                               
                               <div class="col-sm-6">
                                
                           <div id="myProgress">
  <div id="myBar1">
   
  </div>
 
</div>
<p>68%</p>

                                   <div id="myProgress">
  <div id="myBar2">
   
  </div>
 
</div>
<p>98%</p>
<div id="myProgress">
  <div id="myBar3">
   
  </div>
 
</div>
<p>10%</p>
                                </div>
                               
                           </div>
                           
                       
                       
                       </div>
                       
                   </div>
              </div>-->
                
                <div id="yCircle"></div>
                <div id="goalName">Marriage</div>
                
            </div>
    
                <div class="goalReportData g7" onclick="goalSelection('Crorepati','Rich');">
              <!--
                <div id="invest_withdraw">
                
                  <div class="flag"></div>
                
                      <button id="Withdraw" type="" class="btn btn-lg moodNav" > Withdraw </button> 
                    <button id="Invest" type="" class="btn btn-lg moodNav" > Invest </button> 
                  
                                     <div class="trackGoals">
                   
                       <h2>Track Goals</h2>
                       
                       <div class="dotHr">
                       <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                             <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                             <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                             <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                                      <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                             <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                             <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                             <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           
                       </div>
                   
                       <div class="sliderGoal">
                       
                           <div class="row">
                           
                               <div class="col-sm-6">
                           <p><span class="btn btn-default btn-circle">1</span>Goal 01</p>
                           <p><span class="btn btn-default btn-circle">2</span>The Second</p>
                            <p><span class="btn btn-default btn-circle">3</span>Third Goal long text</p>
                                    <p><span class="btn btn-default btn-circle">4</span>Third Goal long text</p>
                                </div>
                               
                               <div class="col-sm-6">
                                
                           <div id="myProgress">
  <div id="myBar1">
   
  </div>
 
</div>
<p>68%</p>

                                   <div id="myProgress">
  <div id="myBar2">
   
  </div>
 
</div>
<p>98%</p>
<div id="myProgress">
  <div id="myBar3">
   
  </div>
 
</div>
<p>10%</p>
                                </div>
                               
                           </div>
                           
                       
                       
                       </div>
                       
                   </div>
              </div>-->
                
                <div id="yCircle"></div>
                <div id="goalName">Crorepati</div>
                
            </div>
    
        
                <div class="goalReportData g8" onclick="goalSelection('Education','Nerdy');">
              
              <!--  <div id="invest_withdraw">
                
                  <div class="flag"></div>
                
                      <button id="Withdraw" type="" class="btn btn-lg moodNav" > Withdraw </button> 
                    <button id="Invest" type="" class="btn btn-lg moodNav" > Invest </button> 
                                     <div class="trackGoals">
                   
                       <h2>Track Goals</h2>
                       
                       <div class="dotHr">
                       <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                             <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                             <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                             <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                                      <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                             <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                             <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                             <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           
                       </div>
                   
                       <div class="sliderGoal">
                       
                           <div class="row">
                           
                               <div class="col-sm-6">
                           <p><span class="btn btn-default btn-circle">1</span>Goal 01</p>
                           <p><span class="btn btn-default btn-circle">2</span>The Second</p>
                            <p><span class="btn btn-default btn-circle">3</span>Third Goal long text</p>
                                    <p><span class="btn btn-default btn-circle">4</span>Third Goal long text</p>
                                </div>
                               
                               <div class="col-sm-6">
                                
                           <div id="myProgress">
  <div id="myBar1">
   
  </div>
 
</div>
<p>68%</p>

                                   <div id="myProgress">
  <div id="myBar2">
   
  </div>
 
</div>
<p>98%</p>
<div id="myProgress">
  <div id="myBar3">
   
  </div>
 
</div>
<p>10%</p>
                                </div>
                               
                           </div>
                           
                       
                       
                       </div>
                       
                   </div>
                  
              </div>-->
                
                <div id="yCircle"></div>
                <div id="goalName">Education</div>
                
            </div>
    
                    <div class="goalReportData g9" onclick="goalSelection('Gadget','Nerdy');">
              
               <!-- <div id="invest_withdraw">
                
                  <div class="flag"></div>
                
                      <button id="Withdraw" type="" class="btn btn-lg moodNav" > Withdraw </button> 
                    <button id="Invest" type="" class="btn btn-lg moodNav" > Invest </button> 
                  
                                     <div class="trackGoals">
                   
                       <h2>Track Goals</h2>
                       
                       <div class="dotHr">
                       <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                             <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                             <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                             <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                                      <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                             <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                             <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                             <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           
                       </div>
                   
                       <div class="sliderGoal">
                       
                           <div class="row">
                           
                               <div class="col-sm-6">
                           <p><span class="btn btn-default btn-circle">1</span>Goal 01</p>
                           <p><span class="btn btn-default btn-circle">2</span>The Second</p>
                            <p><span class="btn btn-default btn-circle">3</span>Third Goal long text</p>
                                    <p><span class="btn btn-default btn-circle">4</span>Third Goal long text</p>
                                </div>
                               
                               <div class="col-sm-6">
                                
                           <div id="myProgress">
  <div id="myBar1">
   
  </div>
 
</div>
<p>68%</p>

                                   <div id="myProgress">
  <div id="myBar2">
   
  </div>
 
</div>
<p>98%</p>
<div id="myProgress">
  <div id="myBar3">
   
  </div>
 
</div>
<p>10%</p>
                                </div>
                               
                           </div>
                           
                       
                       
                       </div>
                       
                   </div>
              </div>
                -->
                <div id="yCircle"></div>
                <div id="goalName">Gadget</div>
                
            </div>
    
                       <div class="goalReportData g10" onclick="goalSelection('Home','Responsible');">
              
               <!-- <div id="invest_withdraw">
                
                  <div class="flag"></div>
                
                      <button id="Withdraw" type="" class="btn btn-lg moodNav" > Withdraw </button> 
                    <button id="Invest" type="" class="btn btn-lg moodNav" > Invest </button> 
                                     <div class="trackGoals">
                   
                       <h2>Track Goals</h2>
                       
                       <div class="dotHr">
                       <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                             <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                             <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                             <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                                      <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                             <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                             <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                             <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           
                       </div>
                   
                       <div class="sliderGoal">
                       
                           <div class="row">
                           
                               <div class="col-sm-6">
                           <p><span class="btn btn-default btn-circle">1</span>Goal 01</p>
                           <p><span class="btn btn-default btn-circle">2</span>The Second</p>
                            <p><span class="btn btn-default btn-circle">3</span>Third Goal long text</p>
                                    <p><span class="btn btn-default btn-circle">4</span>Third Goal long text</p>
                                </div>
                               
                               <div class="col-sm-6">
                                
                           <div id="myProgress">
  <div id="myBar1">
   
  </div>
 
</div>
<p>68%</p>

                                   <div id="myProgress">
  <div id="myBar2">
   
  </div>
 
</div>
<p>98%</p>
<div id="myProgress">
  <div id="myBar3">
   
  </div>
 
</div>
<p>10%</p>
                                </div>
                               
                           </div>
                           
                       
                       
                       </div>
                       
                   </div>
                  
              </div>-->
                
                <div id="yCircle"></div>
                <div id="goalName">Home</div>
                
            </div>
    
                           <div class="goalReportData g11" onclick="goalSelection('Childs education','Responsible');">
              
               <!-- <div id="invest_withdraw">
                
                  <div class="flag"></div>
                
                      <button id="Withdraw" type="" class="btn btn-lg moodNav" > Withdraw </button> 
                    <button id="Invest" type="" class="btn btn-lg moodNav" > Invest </button> 
                  
                                     <div class="trackGoals">
                   
                       <h2>Track Goals</h2>
                       
                       <div class="dotHr">
                       <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                             <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                             <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                             <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                                      <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                             <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                             <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                             <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           
                       </div>
                   
                       <div class="sliderGoal">
                       
                           <div class="row">
                           
                               <div class="col-sm-6">
                           <p><span class="btn btn-default btn-circle">1</span>Goal 01</p>
                           <p><span class="btn btn-default btn-circle">2</span>The Second</p>
                            <p><span class="btn btn-default btn-circle">3</span>Third Goal long text</p>
                                    <p><span class="btn btn-default btn-circle">4</span>Third Goal long text</p>
                                </div>
                               
                               <div class="col-sm-6">
                                
                           <div id="myProgress">
  <div id="myBar1">
   
  </div>
 
</div>
<p>68%</p>

                                   <div id="myProgress">
  <div id="myBar2">
   
  </div>
 
</div>
<p>98%</p>
<div id="myProgress">
  <div id="myBar3">
   
  </div>
 
</div>
<p>10%</p>
                                </div>
                               
                           </div>
                           
                       
                       
                       </div>
                       
                   </div>
              </div>
                -->
                <div id="yCircle"></div>
                <div id="goalName">Childs education</div>
                
            </div>
    
                              <div class="goalReportData g12" onclick="goalSelection('Emergency','Broke');">
              
                <!--<div id="invest_withdraw">
                
                  <div class="flag"></div>
                
                      <button id="Withdraw" type="" class="btn btn-lg moodNav" > Withdraw </button> 
                    <button id="Invest" type="" class="btn btn-lg moodNav" > Invest </button> 
                  
                                     <div class="trackGoals">
                   
                       <h2>Track Goals</h2>
                       
                       <div class="dotHr">
                       <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                             <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                             <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                             <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                                      <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                             <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                             <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                             <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           
                       </div>
                   
                       <div class="sliderGoal">
                       
                           <div class="row">
                           
                               <div class="col-sm-6">
                           <p><span class="btn btn-default btn-circle">1</span>Goal 01</p>
                           <p><span class="btn btn-default btn-circle">2</span>The Second</p>
                            <p><span class="btn btn-default btn-circle">3</span>Third Goal long text</p>
                                    <p><span class="btn btn-default btn-circle">4</span>Third Goal long text</p>
                                </div>
                               
                               <div class="col-sm-6">
                                
                           <div id="myProgress">
  <div id="myBar1">
   
  </div>
 
</div>
<p>68%</p>

                                   <div id="myProgress">
  <div id="myBar2">
   
  </div>
 
</div>
<p>98%</p>
<div id="myProgress">
  <div id="myBar3">
   
  </div>
 
</div>
<p>10%</p>
                                </div>
                               
                           </div>
                           
                       
                       
                       </div>
                       
                   </div>
              </div>
                -->
                <div id="yCircle"></div>
                <div id="goalName">Emergency</div>
                
            </div>
    
                                  <div class="goalReportData g13" >
              
               <!-- <div id="invest_withdraw">
                
                  <div class="flag"></div>
                
                      <button id="Withdraw" type="" class="btn btn-lg moodNav" > Withdraw </button> 
                    <button id="Invest" type="" class="btn btn-lg moodNav" > Invest </button> 
                                     <div class="trackGoals">
                   
                       <h2>Track Goals</h2>
                       
                       <div class="dotHr">
                       <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                             <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                             <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                             <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                                      <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                             <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                             <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                             <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           
                       </div>
                   
                       <div class="sliderGoal">
                       
                           <div class="row">
                           
                               <div class="col-sm-6">
                           <p><span class="btn btn-default btn-circle">1</span>Goal 01</p>
                           <p><span class="btn btn-default btn-circle">2</span>The Second</p>
                            <p><span class="btn btn-default btn-circle">3</span>Third Goal long text</p>
                                    <p><span class="btn btn-default btn-circle">4</span>Third Goal long text</p>
                                </div>
                               
                               <div class="col-sm-6">
                                
                           <div id="myProgress">
  <div id="myBar1">
   
  </div>
 
</div>
<p>68%</p>

                                   <div id="myProgress">
  <div id="myBar2">
   
  </div>
 
</div>
<p>98%</p>
<div id="myProgress">
  <div id="myBar3">
   
  </div>
 
</div>
<p>10%</p>
                                </div>
                               
                           </div>
                           
                       
                       
                       </div>
                       
                   </div>
                  
              </div>-->
                
                <div id="yCircle"></div>
                <div id="goalName">Wealth</div>
                
            </div>
    
    
                                      <div class="goalReportData g14">
              
                <!--<div id="invest_withdraw">
                
                  <div class="flag"></div>
                
                      <button id="Withdraw" type="" class="btn btn-lg moodNav" > Withdraw </button> 
                    <button id="Invest" type="" class="btn btn-lg moodNav" > Invest </button> 
                                     <div class="trackGoals">
                   
                       <h2>Track Goals</h2>
                       
                       <div class="dotHr">
                       <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                             <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                             <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                             <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                                      <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                             <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                             <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                             <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           
                       </div>
                   
                       <div class="sliderGoal">
                       
                           <div class="row">
                           
                               <div class="col-sm-6">
                           <p><span class="btn btn-default btn-circle">1</span>Goal 01</p>
                           <p><span class="btn btn-default btn-circle">2</span>The Second</p>
                            <p><span class="btn btn-default btn-circle">3</span>Third Goal long text</p>
                                    <p><span class="btn btn-default btn-circle">4</span>Third Goal long text</p>
                                </div>
                               
                               <div class="col-sm-6">
                                
                           <div id="myProgress">
  <div id="myBar1">
   
  </div>
 
</div>
<p>68%</p>

                                   <div id="myProgress">
  <div id="myBar2">
   
  </div>
 
</div>
<p>98%</p>
<div id="myProgress">
  <div id="myBar3">
   
  </div>
 
</div>
<p>10%</p>
                                </div>
                               
                           </div>
                           
                       
                       
                       </div>
                       
                   </div>
                  
              </div>
                -->
                <div id="yCircle"></div>
                <div id="goalName">Retirement</div>
                
            </div>
    
                                          <div class="goalReportData g15">
              
              <!--  <div id="invest_withdraw">
                
                  <div class="flag"></div>
                
                      <button id="Withdraw" type="" class="btn btn-lg moodNav" > Withdraw </button> 
                    <button id="Invest" type="" class="btn btn-lg moodNav" > Invest </button> 
                                     <div class="trackGoals">
                   
                       <h2>Track Goals</h2>
                       
                       <div class="dotHr">
                       <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                             <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                             <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                             <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                                      <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                             <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                             <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                             <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           <div></div>
                           
                       </div>
                   
                       <div class="sliderGoal">
                       
                           <div class="row">
                           
                               <div class="col-sm-6">
                           <p><span class="btn btn-default btn-circle">1</span>Goal 01</p>
                           <p><span class="btn btn-default btn-circle">2</span>The Second</p>
                            <p><span class="btn btn-default btn-circle">3</span>Third Goal long text</p>
                                    <p><span class="btn btn-default btn-circle">4</span>Third Goal long text</p>
                                </div>
                               
                               <div class="col-sm-6">
                                
                           <div id="myProgress">
  <div id="myBar1">
   
  </div>
 
</div>
<p>68%</p>

                                   <div id="myProgress">
  <div id="myBar2">
   
  </div>
 
</div>
<p>98%</p>
<div id="myProgress">
  <div id="myBar3">
   
  </div>
 
</div>
<p>10%</p>
                                </div>
                               
                           </div>
                           
                       
                       
                       </div>
                       
                   </div>
                  
              </div>-->
                
                <div id="yCircle"></div>
                <div id="goalName">Tax Savings</div>
                
            </div>
    
            </div>
	</div>
    <div class="container-fluid profileFooter">
 <% include partials/footer %></div>
    </div>
	
<!--</section>-->
    <script>
      $(doucment).ready(function(){ 
        <% if(panMessage.length > 0) { %>
          $('#bseModal').modal('show');
        <% } %>
      });
    </script>


