<!DOCTYPE html>
<html lang="en">
<head>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.0/css/bootstrapValidator.min.css">
</head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js" type="text/javascript">
</script>
    <style>
       
    
     @import url("http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700");
@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600|Roboto Mono");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 300;
  src: local('Dosis Light'), local('Dosis-Light'), url(http://fonts.gstatic.com/l/font?kit=RoNoOKoxvxVq4Mi9I4xIReCW9eLPAnScftSvRB4WBxg&skey=a88ea9d907460694) format('woff2');
}
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 500;
  src: local('Dosis Medium'), local('Dosis-Medium'), url(http://fonts.gstatic.com/l/font?kit=Z1ETVwepOmEGkbaFPefd_-CW9eLPAnScftSvRB4WBxg&skey=21884fc543bb1165) format('woff2');
}
body {
        
    font-size: 14px;
    font-weight: 500;
    line-height: 1.42857;
    font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif,  Open Sans;
    
    line-height: 1.42857;
    height: 350px;
    padding: 0;
    margin: 0;
}   
        table, th, td {
    border: 1px solid black;
            padding-left: 12px;
    border-collapse: collapse;
}
    </style>    
    <script src="js/jspdf.debug.js"></script>
    <script src="js/jspdf.plugin.autotable.js"></script>
    <script type="text/javascript">    
 function generate() {      
     
     $.ajax({
                    type: 'POST',
                    contentType: 'application/json',
                    url: '/setAofstatus',
                    success: function (data) {
                        console.log('success');
                        

                        // console.log(JSON.stringify(data));
                    }

                })
    var pdf = new jsPDF("p", "mm", "a4");
    var res1 = document.getElementById('tb1');
    var res = pdf.autoTableHtmlToJson(res1);
          
    var elem3 = document.getElementById('tb3');
    var data3 = pdf.autoTableHtmlToJson(elem3);
  
    var header = function(data) {
      pdf.text(62,16,'BSE Acount Opening Form'); 
      pdf.setFontSize(12);
      pdf.setTextColor(40);
      pdf.setFontStyle('normal');
      //  doc.addImage(headerImgData, 'JPEG', data.settings.margin.left, 20, 50, 50);
      pdf.text("", data.settings.margin.left, 30);
  };

pdf.autoTable(res.columns, res.data, {
      startY: pdf.autoTableEndPosY() + 26,
      pageBreak: 'auto',
      theme: 'grid',
      beforePageContent: header,
      margin: {horizontal: 10, top: 10, bottom: 10},
	  headerStyles: {fillColor: [204, 204, 204],textColor: 20},
      styles: {
      overflow: 'linebreak',
      fontSize: 8,
      tableWidth: 280,
      columnWidth: 'auto',
	  valign: 'middle',
       rowHeight: 10
    },
      drawHeaderRow: function(row, data) {
     row.height = 10;
    }
    
});
 
pdf.autoTable(data3.columns, data3.data, {
     startY : pdf.autoTableEndPosY() + 8,
     pageBreak: 'auto',
     theme: 'grid',
     beforePageContent: header,
	 headerStyles: {fillColor: [204, 204, 204],textColor: 20},
      styles: {
      overflow: 'linebreak',
      fontSize: 8,
      tableWidth: 280,
      columnWidth: 'auto',
	  valign: 'middle',
       rowHeight: 10
    },
       drawHeaderRow: function(row, data) {
     row.height = 10;
    },
    margin: {horizontal:10, top: 10, bottom:10}
});
  pdf.save("BseAof.pdf");
}    
   
        </script>
<body ng-app="" id="target">
  
  <div class="container" id="HTMLtoPDF">
<div class="row">
      <div class="col-md-3"> </div>
      <div class="col-md-7">
          <h2 style="text-align: center;margin-bottom:2px;"><b>BSE Account Opening Form</b></h2>
        <br>       
<table id="tb1" style="width:100%;font-size:12px;padding-left: 12px;padding-right:0px;padding-top:2px;padding-bottom:2px;margin-top:0px;margin-bottom:10px;">
   <tr><td><h5 style="text-align: left;margin-bottom:2px;"><b>Applicant Details :</b></h5> </td><td></td></tr>
    <tr>
      
    <td>RIA SEBI Regn. No : INA200001173</td>
    <td>SUB-BROKER :</td>
      
  </tr>
     <tr>
       <td>EUIN : E030236</td>
         <td></td>
    </tr>
    <tr>
        <td><h5 style="text-align: left;margin-bottom:2px;"><b>Unit Folder Information : </b></h5></td> 
         <td></td>
    </tr>
    <tr>
       <td>Name : <%=data.name%></td> 
         <td></td>
    </tr>
    <tr>
        <td>PAN Number : <%=data.pan%></td>
        <td>KYC : <%=data.kyc%></td>
    </tr>
  <tr>
   
    <td>Date Of Birth : <%=data.dob%></td>
    <td>Mode of Holding : <%=data.holdingtype%></td>
  </tr>
     <tr>
     <td>Address : <%=data.address%></td>
    <td>City : <%=data.city%></td>
  </tr>
    <tr>
         <td>State : <%=data.state%></td>
    <td>Country : <%=data.country%></td>
  </tr>
  <tr>
    <td>Pincode : <%=data.pincode%> </td>
    <td>Occupation : <%=data.occupation%></td>
   
  </tr>
    <tr>
         <td>Email : <%=data.email%></td>
        <td>Mobile : <%=data.mobile%></td>
    </tr>
    <tr>
    <td>Telephone Residency: <%=data.telephone%></td>
    <td>Fax Off/Residency : </td>    
  </tr>
 <tr><td><h5 style="text-align: left;margin-bottom:2px;"><b>Name of the Second Holder :</b></h5> </td><td></td></tr>
    <tr>
    <td>PAN : </td>
    <td>KYC : </td>    
  </tr>
     <tr>
    <td>Date Of Birth : </td>
    <td></td>    
  </tr>
     <tr><td><h5 style="text-align: left;margin-bottom:2px;"><b>Name of the Third Holder :</b></h5> </td><td></td></tr>
    <tr>
    <td>PAN : </td>
    <td>KYC : </td>    
  </tr>
     <tr>
    <td>Date Of Birth : </td>
    <td></td>    
  </tr>
    <tr><td><h5 style="text-align: left;margin-bottom:2px;"><b>Other Details of Sole/1st Applicant : </b></h5>Overseas Address (Incase of NRI Investors) </td><td></td></tr>
    <tr>
    <td>City : </td>
    <td>Pincode : </td>    
  </tr>
     <tr>
    <td>Country : </td>
    <td></td>    
  </tr>
    
    
    <tr><td><h5 style="text-align: left;margin-bottom:2px;"><b>Bank Mandate Details :</b></h5> </td><td></td></tr>
  <tr>
    <td>Bank Name : <%=data.bankname%></td>
    <td>Branch : <%=data.branch%></td>     
  </tr>
  <tr>
    <td>Account Number : <%=data.accountno%></td>  
    <td>A/c Type : <%=data.accounttype%></td>
    </tr>
  <tr>
    
    <td>IFSC Code : <%=data.ifsc%></td>
      <td></td>
    </tr> 
     <tr><td><h5 style="text-align: left;margin-bottom:2px;"><b>Nominee Details :</b></h5> </td><td></td></tr>
  <tr>
    <td>Nominee Name : <%=data.nominee%></td>
    <td>Relationship : <%=data.nomineerelation%></td>
   
  </tr>
    <tr>
    <td>Guardian Name (if nominee is minor) : <%=data.guardianname%></td>
    <td>Guardian Pan :</td>
  </tr>
  
    <tr>
    <td>Nominee Address : <%=data.nomineeaddress%></td>
    <td></td>
  </tr>
     </table>      
          <table id="tb3" style="width:100%;font-size:12px;padding-left: 12px;padding-right:0px;padding-top:2px;padding-bottom:0px;margin-top:0px;margin-bottom:4px;">
     

<tr>
 <td colspan="2"><h5><u>Declaration and Signature</u></h5> </td>
    
</tr>
              <tr>
                  <td >
    <p>I/We confirm that details provided by me/us are true and correct. I/We has/have invested or desirous to invest in the Scheme(s) Mutual Fund under Direct Plan and agree to comply with the terms and conditions of the Scheme related documents.</p>

    <p>I/We hereby give you my/our consent to share/provide the transactions data feed/portfolio holdings/NAV etc. in respect of my/our investments under Direct Plan of all Schemes managed by you, to the above mentioned RIA.</p>
    
        <h5 style="text-align: left;">Place :      </h5>
          <h5 style="text-align: left;">Date : </h5>      

          <h5 style="text-align: left;padding-right:55px;">Signature :</h5>
        </td>
              </tr>
</table>
     
    <div class="form-group">
        <div class="col-xs-4 col-xs-offset-4">      
    <button type="" style="align:center;" class="btn btn-primary" id="cmd" onclick="generate()">Download As Pdf</button>
        </div>
          </div>
      </div><!-- end col-md-8 -->
     
        </div>
</div>
<!-- these js files are used for making PDF -->
    
</body>
</html>