<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/head %>
    <link rel="stylesheet" href="stylesheets/updated.css">
    <link rel="stylesheet" href="stylesheets/responsive.css">
    <link rel="stylesheet" href="stylesheets/responsive2560.css" media="screen and (width:2560px) and (height:1600px)">
</head>

<body>
  <% include partials/header %>
    <div class="wrapper plansPage">
      <div class="container">
        <div class="savedPlansPage">
          <div class="headGoal">
            <h3 class="savedPlans">Saved Plans</h3>
            <em>All plans are valid upto 30 days</em>
          </div>
            <% if(!plansHeader) {%>
	<h1>You do not have any saved plans</h1>
	<% } %>
            
          <form>
              
            <% for(j=0;j<plansHeader.length;j++) {%>
            <div class="row" id="savedPlans">
              <div class="col-md-3">
                <div class="myGoal">
                 <!-- <h4 class="planNumber">1</h4>-->
                  <h4><%=plansHeader[j].name %></h4>
                  <h5><%=plansHeader[j].date %></h5>
                </div>
              </div>
              <div class="col-md-5">
                <label>Goal Outcome:</label>
                <p><%=plansHeader[j].masteramount %></p><br/>
                <label>Monthly Amount:</label>
                <p><%=plansHeader[j].sip %></p><br/>
              </div>
              <div class="col-md-4">
                <label>Number of Years</label>
                <p><%=plansHeader[j].totalyears %></p><br/>
                <label>Risk Profile:</label>
                <p><%=plansHeader[j].riskprofile %></p><br/>

              </div>

            </div>


          </form>

          <div class="pageSavedPlan">

            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>Sl No.</th>
                    <th>Recomendation</th>
                    <th>Category </th>
                    <th>Amount (&#x20B9;)</th>
                  </tr>
                </thead>
                <tbody>
                      <% for(i=0,m=1;i<plansDetail.length;i++,m++) {%>
                  <tr>

                    <td><%= m %></td>
                    <td><%=plansDetail[i].allocationdescription %></td>
                    <td><%=plansDetail[i].allocationcategory %></td>
                    <td><%=plansDetail[i].allocationamount %></td>
                  </tr>
                 
<%}%>
                </tbody>


              </table>
              <table class="table" id="savedPlansButtons">
                <thead>
                  <tr>
                    <th style="border: none;    float: right;"> 
                         <form action="/Proceed" method="post">
                             <input id="savedplanid" name="savedplanid" value="<%=plansHeader[j].savedplanid %>" hidden="hidden">
                        <button class="btn saved" type="submit">Proceed</button>
                         </form>   
                        
                             <button class="btn saved" data-toggle="modal" data-target="#myModalDiscard">Discard</button>
                              </th>

                  </tr>
                </thead>
              </table>

            </div>

          </div>

        </div>

      </div>
    </div>


    <div class="container">



      <div class="modal fade" id="myModalDiscard" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">

            <div class="modal-body">
              <p>Are you sure you want to DISCARD?</p>
              <button class="btn saved" id="<%=plansHeader[j].savedplanid %>" onClick="discard(this.id)" data-dismiss="modal">YES</button>
              <button class="btn saved" data-dismiss="modal">No</button>
            </div>

          </div>

        </div>
      </div>
 <%}%>
    </div>

    <div class="container knowusFooter">
      <% include partials/footer %>
    </div>
    <!--Custom Js links -->
    <script src="javascripts/TweenMax.min.js"></script>
    <script src="javascripts/TextPlugin.min.js"></script>
    <script src="javascripts/main.js"></script>
    <script src="javascripts/control.js" type="text/javascript"></script>
    <script>
	  function discard(clicked_id){
			   
			     var data = {};
					data.savedplanid = clicked_id;
					console.log(data.savedplanid);
			    //alert(data.pan);
			   
				 <% if(loggedIn) {%>
				   
					$.ajax({
						type: 'POST',
						data: JSON.stringify(data),
				        contentType: 'application/json',
                        url: '/discardPlans',						
                        success: function(data)
                        {       
                            window.location = data.redirect   
                        }
			   
		          })
					 <% }%>
					
			   
		   }
	
     
        
      $('.moodGoals > img').css('display', 'none');
    </script>
</body>

</html>