<!DOCTYPE html>
<html lang="en">
<head>

 <% include partials/head %>
	  	<link rel="stylesheet" href="stylesheets/updated.css">
     <link rel="stylesheet" href="stylesheets/responsive.css">
       <link rel="stylesheet" href="stylesheets/responsive2560.css"  media="screen and (width:2560px) and (height:1600px)">
	 <script src="javascripts/jquery.onepage-scroll.js" ></script>
</head>
	
<body>
<script>
<%var amtrounded1=0;%>

	

</script>
  <% include partials/header %>
	<% if(!loggedIn) {%>
	
	
	
	  <!-- Modal -->
        
	
	   <div class="modal fade" id="loginModalScheme" role="dialog">
    <div class="modal-dialog modal-sm">
          <!-- Modal content-->
      <div class="modal-content">
                
            <div class="modal-body">
         
                <form class="form-horizontal" action="/login" method="post">
                           <h2>Login</h2>

				
					<input type="hidden" id="assetStoreOffline_l" name="assetStoreOffline_l" value="true">
					
					
							<input type="email" class="form-control" id="email" name="email" placeholder="Email">
							<input type="password" class="form-control" id="password" name="password" placeholder="Password">
                            <button id="login" type="submit" class="btn btn-lg login "  > Login </button> 
                            <button type="" class="btn btn-lg sign-up" data-toggle="modal" data-target="#signUpModalScheme" data-dismiss="modal">Sign Up</button>
                            <a href="#" class="forgot" >Forgot Password?</a>
                            <button type="button" class="btn btn-lg facebook" onclick="auth('facebook')">Login with Facebook</button>
                            <button type="button" class="btn btn-lg google" onclick="auth('google')">Login with Google+</button>
                                
                            
                 </form> 
				<% if (lmessage.length > 0) { %>
<div class="alert alert-danger"><%= lmessage %></div>
<% } %>
            </div>
                
      </div>
    </div>
  </div>
		
		
				  <div class="modal fade" id="signUpModalScheme" role="dialog">
    <div class="modal-dialog modal-sm">
          <!-- Modal content-->
      <div class="modal-content">
                
            <div class="modal-body">
         
                <form class="form-horizontal" action="/signup" method="post">
                           <h2>Sign Up</h2>
						   <hr>
					<input type="hidden" id="masterAmount" name="masterAmount" value="">
					<input type="hidden" id="assetStoreOffline" name="assetStoreOffline" value="true">
					<input type="hidden" id="goalid" name="goalid" value="">
					
			<input type="text" id="equityAmount" name="equityAmount" value="" hidden>
            <input type="text" id="hybridAmount" name="hybridAmount" value="" hidden>
            <input type="text" id="debtAmount" name="debtAmount" value="" hidden>
					
			<input type="text" id="equityPercentage" name="equityPercentage" value="" hidden>
            <input type="text" id="hybridPercentage" name="hybridPercentage" value="" hidden>
            <input type="text" id="debtPercentage" name="debtPercentage" value="" hidden>
						
			<input type="text" id="riskProfile" name="riskProfile" value="" hidden>
								   <input type="text" id="sip" name="sip" value="" hidden>
								   <input type="text" id="totalYears" name="totalYears" value="" hidden>
							
                       <input type="number" class="form-control" id="mnumber" name="mnumber" placeholder="Mobile Number">
						   
							<input type="email" class="form-control" id="email" name="email" placeholder="Email">
					
                          <input type="text" class="form-control" id="username" name="username" placeholder="Name">
					
							<input type="password" class="form-control" name="password" id="password" placeholder="Password">
					
                            <button type="submit" class="btn btn-lg login"> Submit </button> 
                          
              </form>
                            <button type="button" class="btn btn-lg facebook" onclick="auth('facebook')" >Sign through Facebook</button>
                            <button type="button" class="btn btn-lg google" onclick="auth('google')" >Sign through Google+</button>
                             <p><em>By clicking Sign Up you agree to the <a href="#">terms and conditions</a></em></p>   
                            
                    <% if (smessage.length > 0) { %>
<div class="alert alert-danger"><%= smessage %></div>
<% } %> 
            </div>
                
      </div>
    </div>
  </div>
	<%}%>
	
		
<div class="modal fade" id="myPanModal" role="dialog">
    <div class="modal-dialog modal-sm" style="     top: -8%;    width: 512px;
    margin-left: 36em;">
        <!-- Modal content-->
        <div class="modal-content PAN">
            <div class="modal-body " style="">
                <h2 class="PANHead">Enter PAN</h2>

                <!-- <form class="formmodel PANInfo" id="checkPANStatus" name="checkPANStatus" onsubmit="checkPanStaus();">-->
                <div class="bg-success" id="responseData">
                    <p id="data1"></p>
                </div>

                <input class="form-control PANnumber" placeholder="PAN number" type="text" id="pan" name="pan" maxlength="10">
                <div class="dotHr">
                    <button class="btn btn-lg moodNav  pricing RP1 pull-left submit " style="margin-top:10%;width:5.5em;" id="panCheck" type="submit"
                        onclick="checkPanStaus()"> Submit </button>
                    <p id="errMsg"></p>

                    <!--</form>-->
                </div>


                        <legend> PAN Details</legend>
				 <input class="form-control PANnumber" type="text" id="panName" placeholder="Name" name="panName" >
				
				 <input class="form-control PANnumber"  type="text" id="address" placeholder="Address" name="address" >
				<input class="form-control PANnumber"  type="text" id="panDOB" placeholder="Date of Birth" name="panDOB" >
				 <input class="form-control PANnumber" type="text" id="accountNumber" placeholder="Account Number" name="accountNumber" >
				
				 <input class="form-control PANnumber"  type="text" id="ifscCode" placeholder="IFSC Code" name="ifscCode" >

<!--    <form action="/InsertOrders" method="post">	
	<button class="btn btn-lg moodNav  pricing RP1 pull-left submit " style="margin-top:2%;width:5.5em;display:none;" id="bseInvest"  type="submit">Proceed </button> 
				</form>	
				-->
				<button class="btn btn-lg moodNav  pricing RP1 pull-right submit " style="margin-top:2%;width:5.5em;" data-toggle="modal" data-target="#uploadModal" data-dismiss="modal">Next </button> 
				
            </div>
        </div>
    </div>
</div>
	
	
		
<div class="modal fade" id="uploadModal" role="dialog">
    <div class="modal-dialog modal-sm" style="     top: -8%;    width: 512px;
    margin-left: 36em;">
        <!-- Modal content-->
        <div class="modal-content PAN">
            <div class="modal-body " style="">
                <h2 class="PANHead">PAN Upload Files</h2>

    
           <form action="#" method="post">	 
         
            <div class="DOCUMENTS">
            
             <label class="control-label" style="" title="">Address Proof</label>
                  <input type="file" name="doc" id="file" class="inputfile" multiple />
            
              <!--  <label for="file" style="font-size:1em;">Choose a file</label>-->
                   <!-- <button class="captureButton pull-right">Capture</button>-->
            <br/>
                  <label class="control-label" style="" title="">Id proof</label>
                  <input type="file" name="doc" id="file" class="inputfile" />
            
                <!--<label for="file" style="font-size:1em;">Choose a file</label>-->
                   <!-- <button class="captureButton pull-right">Capture</button>-->
            <br/>
                <label class="control-label" style="" title="">Siganture Proof</label>
                  <input type="file" name="doc" id="file" class="inputfile" />
            
               <!-- <label for="file" style="font-size:1em;">Choose a file</label>-->
                    <!--<button class="captureButton pull-right">Capture</button>-->
            <br/>
               <label class="control-label" style="" title="">KYC video</label>
                  <input type="file" name="doc" id="file" class="inputfile" />
            
               <!-- <label for="file" style="font-size:1em;">Choose a file</label>-->
                  <!--  <button class="captureButton pull-right">Capture</button>-->
            <br/>
                <label class="control-label" style="" title="">NACH</label>
                  <input type="file" name="doc" id="file" class="inputfile" />
            
                <!--<label for="file" style="font-size:1em;">Choose a file</label>-->
                   <!-- <button class="captureButton pull-right">Capture</button>-->
            <br/>
             </div>
          

                  </form>      

				  <form action="/InsertOrders" method="post">	
	<button class="btn btn-lg moodNav  pricing RP1 pull-left submit " style="margin-top:2%;width:5.5em;display:none;" id="bseInvest"  type="submit">Proceed </button> 
				</form>
				  
				
				
            </div>
        </div>
    </div>
</div>
	
	
	
	
	  <div class="modal fade" id="bseModal" role="dialog">
	         <div class="modal-dialog modal-sm" style="     width: 512px;
    margin-left: 36em;">
                 <!-- Modal content-->
                  <div class="modal-content PAN">
                        <div class="modal-body "  style="">
                            <h2 class="PANHead">BSE Order and Payment Status</h2>
                              <div class="dotHr ">
                            <div></div>
                                 <div></div>
                                 <div></div>
                                 <div></div>
                                 <div></div>
                                 <div></div>
                            <div></div>
                                 <div></div>
                                 <div></div>
                                 <div></div>
                                 <div></div>
                                <div></div>
                                 <div></div>
                                 <div></div>
                                 <div></div>
                                 <div></div>
                                <div></div>
                                 <div></div>
                                 <div></div>
                                 <div></div>
                                 <div></div>
                                <div></div>
                                 <div></div>
                                 <div></div>
                                 <div></div>
                                 <div></div>
                                <div></div>
                                 <div></div>
                                 <div></div>
                                 <div></div>
                               
                                <div></div>
                                 <div></div>
                               
                            </div>
				
                           <!-- <form class="formmodel PANInfo" id="checkPANStatus" name="checkPANStatus" onsubmit="checkPanStaus();">-->
                         <div class="bg-success" id="responseData">
	<p><%= panMessage %></p>
							 <a href="/Accounts" >Click here to see your goal performance</a>
						</div>            
						
                            
								                          
                            <br/>
                                <div></div>
                                 <div></div>
                                <div></div>
                                 <div></div>
                                 <div></div>
                                 <div></div>
                                 <div></div>
                                <div></div>
                                 <div></div>
                                 <div></div>
                                 <div></div>
                                         <div></div>
                                <div></div>
                                 <div></div>
                                 <div></div>
                                 <div></div>
                                 <div></div>
                                <div></div>
                                
                               
                               
                                
                            
                            </div>
   <!--</form>-->  
                        </div>
                  </div>
             </div>
          </div>
	
	
	
<!--    <section id="section1">-->
        
 
     <div class="container-fluid moods text-center">
          
           
        <div class="container" style=" ">
    
             <div class="row">
             <div class="col-md-4">
                   <div class="frogImageMoods text-center">
                    <img id="setMood" class="img-responsive" src="#" alt="" />
<!--                    <img class="img-responsive" src="images/frog1.png" alt="" />-->
                    <!--<img class="img-responsive" src="images/frog_eye.png" alt="" />-->
                
                    <h1 id="setMoodText">Feeling Rich</h1>
                </div>
                 
                 <div class="row slider">
            
            
                     <div class="photos">
                         
                          
                         
                    <div class="photosInner">
                     
                        <img class="change" id="Broke" src="images/smallBroke.png" alt="Home view" >
                     
                      <img class="change" id="Loved" src="images/smallLoved.png" alt="Home view" >
                     
                      <img class="change" id="Nerdy" src="images/smallNerdy.png" alt="Home view" >
                     
                     <img class="change" id="Responsible" src="images/smallResponsible.png" alt="Home view" >
                     
                      <img class="change" id="Rich" src="images/smallRich.png" alt="Home view" >
                     
                      <img class="change" id="Social" src="images/smallSocial.png" alt="Home view" >
                     
                     </div> 
                         
                 
                     </div>
                     <div class="slider-control">
                         <img class="left" src="images/leftArrow.png" alt="Home view" >
                        <img class="right" src="images/rightArrow.png" alt="Home view" >  
                        
                     </div>
                          
                    
                 </div>
            </div><div class="selectiveFixer">
                   <div class="col-md-8 selective">
                 
                  
                       <ul class="pagination">
              <li><a class="pageActive" href="#">1</a>
                  <div id="moodPagination"></div>
                  <div id="moodPagination"></div>
                  <div id="moodPagination"></div>
                  <div id="moodPagination"></div>
                  <div id="moodPagination"></div>
                  <div id="moodPagination"></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
				            <div></div>
                  <div></div>
                  <div></div>
                </li>
      
              <li><a id="pageActive" href="#">2</a>
                 <div id="moodPagination"
                      ></div>
                  <div id="moodPagination"
                       ></div>
                  <div id="moodPagination"
                       ></div>
                  <div id="moodPagination"
                       ></div>
                  <div id="moodPagination"
                       ></div>
                  <div id="moodPagination"
                       ></div>
                  <div id="moodPagination" id="moodPagination" id="moodPagination"></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
				            <div></div>
                  <div></div>
                  <div></div>
            </li>
              <li><a id="#" href="#">3</a>
                 <div id="moodPagination" id="moodPagination"></div>
                  <div id="moodPagination" id="moodPagination"></div>
                  <div id="moodPagination" id="moodPagination"></div>
                  <div id="moodPagination" id="moodPagination"></div>
                  <div id="moodPagination" id="moodPagination"></div>
                  <div id="moodPagination" id="moodPagination"></div>
                  <div id="moodPagination" id="moodPagination"></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
				            <div></div>
                  <div></div>
                  <div></div>
            </li>
              <li><a id="#" href="#">4</a>
            <div></div>
                  <div id="moodPagination"></div>
                  <div id="moodPagination"></div>
                  <div id="moodPagination"></div>
                  <div id="moodPagination"></div>
                  <div id="moodPagination"></div>
                  <div id="moodPagination"></div>
                  <div id="moodPagination"></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
				            <div></div>
                  <div></div>
                  <div></div>
                           </li>
                                <li><a id="#" href="#">5</a>

                           </li>       
                           
            </ul>
                    
                       <div class="contentMood">
                           <p id="IndicatorNew1">Goal Selection >
						   
						   <span id="goalSelected"><%=assetFromDb.goal %></span>
							<span id="">> Risk Profiling ></span>	
							<span id=""><%=assetFromDb.riskprofile %></span>
							 <span id="">> Your Plan</span>
						   </p>
                
                           <div id="" class="page1" style="display:none">
                        <h2>Please select your goal</h2>
                       <p>You can always add or change a goal after you have signed up</p>
                       
              <div class="col-sm-12 below">
				  
                      <div class="goal" id="" >
                        <img src="images/goals/Rich/Crorepati.png" mood="Rich" alt="Home view" >
                        <p id="mood"><span></span>Crorepati</p>
                      </div>

                                        
                     <div class="goal" id="" > 
                        <img src="images/goals/Rich/Fancy%20Car.png" mood="Rich" alt="Home view">
                        <p id="mood"><span></span>Fancy Car</p>
                    </div>
                
                    <div class="goal" id="" >
                        <img src="images/goals/Rich/Double%20the%20money.png" mood="Rich" alt="Home view" >
                        <p id="mood"><span></span>Double the money</p>
                    </div>
                 
                </div>  
                           
                           
            <div class="worksBtn">
            
            <div class="login-btn text-center page-buttons">
                                 
              <!--  <button type="" class="btn btn-lg moodNav skip" > Skip </button> -->
            </div>
            
           <div class="login-btn text-center page-buttons">
                         <!-- <div></div>
                                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>-->
           
                <button type="" class="btn btn-lg moodNav next" > Next </button> 
               
            </div>
                       <div class="login-btn text-center page-buttons">
                        <div></div>
                  <div id="moodPagination"></div>
                  <div id="moodPagination"></div>
                  <div id="moodPagination"></div>
                  <div id="moodPagination"></div>
                  <div id="moodPagination"></div>
                 <div id="moodPagination"></div>
                  <div id="moodPagination"></div>
                  <div id="moodPagination"></div>
                  <div id="moodPagination"></div>
                  <div id="moodPagination"></div>
                  <div id="moodPagination"></div>
                  <div id="moodPagination"></div>
                  <div id="moodPagination"></div>
                  <div id="moodPagination"></div>
                  <div id="moodPagination"></div>
                  <div id="moodPagination"></div>
                  <div id="moodPagination"></div>
                  <div id="moodPagination"></div>
                  <div id="moodPagination"></div>
                  <div id="moodPagination"></div>
                  <div id="moodPagination"></div>
                  <div id="moodPagination"></div>
                  <div id="moodPagination"></div>
                  <div id="moodPagination"></div>
                  <div id="moodPagination"></div>
                  <div id="moodPagination"></div>
                              <div id="moodPagination"></div>
                  <div id="moodPagination"></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                                         <div></div>

        
            
               
            </div>
        </div>
                   
    
                           
                       </div> 
                  
                               <div id="" class="page2" style="display:none">
<!--                        <h2>Education</h2>-->
								   <br />
                       <p>I need INR <input class="blankInput"  name="amount" id="amount" placeholder="" type="number" max="7" value=""/>in<input class="blankInput" placeholder="" type="number" id="time" max="99" value=""/> (Years)</p>
                    <div class="login-btn">
                                 
                <button type="button" id="go" class="btn btn-lg moodNav go" onclick="setProfile(0,1,0);" > Go </button> 
                <button type="" class="btn btn-lg moodNav next page3Sub" > Next </button>
                        <!--<button type="" class="btn btn-lg moodNav save page3Sub" > Save </button>-->
                        
            </div>
             <div  class="dotHr">
                  
                  <div ></div>
                                     <div ></div>
                  <div ></div>
                  <div id="moodPagination" ></div>
                  <div id="moodPagination" ></div>
                  <div id="moodPagination" ></div>
                  <div id="moodPagination" ></div>
                  <div id="moodPagination" ></div>
                  <div id="moodPagination" ></div>
                  <div id="moodPagination" ></div>
                  <div id="moodPagination" ></div>
           <div id="moodPagination"></div>
               <div id="moodPagination"></div>
                  <div id="moodPagination"></div>
                  <div id="moodPagination"></div>
                  <div id="moodPagination"></div>
                  <div id="moodPagination"></div>
                  <div id="moodPagination"></div>
                  <div id="moodPagination"></div>
                  <div id="moodPagination"></div>
                  <div id="moodPagination"></div>
                  <div id="moodPagination"></div>
                  <div id="moodPagination"></div>
                                
                  <div id="moodPagination"></div>
                  <div id="moodPagination"></div>
                  <div id="moodPagination"></div>
                  <div id="moodPagination"></div>
                  <div id="moodPagination"></div>
                  <div id="moodPagination"></div>
                  <div id="moodPagination"></div>
                  <div id="moodPagination"></div>
                  <div id="moodPagination"></div>
                  <div id="moodPagination"></div>
                  <div id="moodPagination"></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                              <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                                     <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                                         <div></div>

                                   </div>
                   <div class="page3">
                                   <p>So, you need to invest INR <span id="invest"></span> Monthly</p>
                       <div class="table-responsive">
                        <table class="table">
    <thead>
      <tr>
        <th>Category</th>
        <th>Allocation percent</th>
        <th>Amount (&#x20B9;)</th>
      </tr>
    </thead>
    <tbody>
        <tr>
  
        <td>Equity</td>
            <td id="eqPer">25%</td>
            <td id="eqAmt">NA</td>
      </tr>
      <tr>
  
       <td>Hybrid</td>
            <td id="hybPer">10% </td>
           <td id="hybAmt">NA</td>
      </tr>
      <tr>

         <td>Debt</td>
            <td id="debPer">65%</td>
              <td id="debAmt">NA</td>
      </tr>

    </tbody>
  </table>
                       </div>    
					    <p style="text-align: center;">* Risk Profile - Conservative</p>    
                                   </div>                
                
                              
                       </div>
                           
                           <div id="" class="page4" style="display:none">
                                   <p id="invest">You need to invest INR <span id="invest2"></span> monthly in Conservative mode.</p>
                                <!--<h2>Risk Profiling</h2>-->
                               <p><em>Risk profiling will help you choose right fund to invest in based on your comfort</em></p>

                               <br/>
                               <div class="selectMode">
                                              <div class="dotHr">
                   <a href="#" class="tooltips"> 
                  <button id="Conservative" type="" class="btn btn-lg moodNav" profile="c" onclick="setProfile(0,2,1)" > Conservative </button> 
					              <span id="c">
       
        I am a low risk taker. When I hear the word Risk, I think of the danger it represents.
    
   
    </span>
												  </a>
                    <div id="moodPagination"></div>
                 <div id="moodPagination"></div> <div id="moodPagination"></div> <div id="moodPagination"></div>
                 <div id="moodPagination"></div> <div id="moodPagination"></div>
                  <div id="moodPagination"></div>
                  <div id="moodPagination"></div>                     
              <div ></div>
                  <div ></div>   
                <div ></div>                     
                <div></div>
                  <div></div>  
                              <a href="#" class="tooltips">                     
							<button id="Moderate" type="" class="btn btn-lg moodNav"  profile="m" onclick="setProfile(1,2,1)" > Moderate </button> 
								  <span id="m">
       
        I am an average risk taker. When I hear the word Risk, I think of the uncertainty it represents.
   
    </span>
												  </a>
           <div id="moodPagination"></div>
                   <div id="moodPagination"></div>
                   <div id="moodPagination"></div>
                   <div id="moodPagination"></div>
                  <div id="moodPagination"></div>                     
              <div id="moodPagination"></div>
                  <div ></div>   
                <div ></div>                     
                <div></div>
                  <div></div>  
                                            
                           <a href="#" class="tooltips">                        
							<button id="Aggressive" type="" class="btn btn-lg moodNav" profile="a" onclick="setProfile(2,2,1)" > Aggressive </button> 
							    <span id="a">
       
       I am a high risk taker. When I hear the word Risk, I think of the opportunity it represents.
   
    </span>
												  </a>
              <div id="moodPagination"></div>
                  <div id="moodPagination"></div>
                  <div id="moodPagination"></div>
                  <div id="moodPagination"></div>
                  <div id="moodPagination"></div>                     
              <div id="moodPagination"></div>
                  <div></div>   
                <div></div>                     
                <div></div>
                  <div></div>  
                                 
						<a href="#" class="tooltips">   
                            <button id="dontKnow" type="" profile="d" class="btn btn-lg moodNav ">I don't know</button>
    <span id="d">
       
      Click to know your Risk Profile.
   
    </span>
												  </a>

                                   </div>  
                              
                                   
                                   
                               </div>
                              
                               <div class="sub-page4">
                                
                           <div class="container sliderRiskProfile">
							    
            <div id="riskHeight">
                
             <button class="accordion">
				
                 <div class="col-sm-1 btn btn-default btn-circle">1</div>
                 <div class="col-sm-11"> <label for="Q1" id="1">Compared to others, how do you rate your willingness to take financial risks?</label>
                 </div>
                
             </button>
<div class="riskProfiling">
     <p id="mood">  <input type="Radio" id="Q1" name="Q1" value="0"  checked>Low risk taker</p>
    <p id="mood"><input type="Radio" id="Q1" name="Q1" value="1" >Average risk taker</p>
    <p id="mood"> <input type="Radio" id="Q1" name="Q1"  value="2">High risk taker</p>
</div>
                
                             <button class="accordion">
                 <div class="col-sm-1 btn btn-default btn-circle">2</div>
                 <div class="col-sm-11"><label for="Q2">When you think of the word 'risk' in a financial context, which of the following words come to mind first?</label>
                 </div>
                
             </button>
<div class="riskProfiling">
     <p id="mood"> <input type="Radio" id="Q2" name="Q2"  value="0" checked>Danger</p>
    <p id="mood"><input type="Radio" id="Q2" name="Q2"  value="1" >Uncertainty</p>
    <p id="mood"> <input type="Radio" id="Q2"  name="Q2" value="2">Opportunity</p>
</div>
                
                                             <button class="accordion">
                 <div class="col-sm-1 btn btn-default btn-circle">3</div>
                 <div class="col-sm-11">  <label for="Q3">When faced with a major financial decision, are you most concerned about the possible losses or the possible gains?</label
                 </div>
                
             </button>
<div class="riskProfiling">
     <p id="mood"> <input type="Radio" id="Q3" name="Q3" value="0" checked>Always the possible losses</p>
    <p id="mood"><input type="Radio" id="Q3" name="Q3"  value="1" >Usually the possible losses</p>
    <p id="mood"> <input type="Radio" id="Q3" name="Q3"  value="2">Always the possible gains</p>
</div>
                
                                                             <button class="accordion">
                 <div class="col-sm-1 btn btn-default btn-circle">4</div>
                 <div class="col-sm-11"><label for="Q4">Think of the average return you would expect to earn on an investment portfolio over a fixed deposit the next ten years.</label>
                 </div>
                
             </button>
<div class="riskProfiling">
     <p id="mood"><input type="Radio" id="Q4" name="Q4" value="0" checked>About the same rate as from bank fixed deposits</p>
    <p id="mood"><input type="Radio" id="Q4" name="Q4"  value="1" >About one and half time the rate from bank fixed deposits</p>
    <p id="mood"><input type="Radio" id="Q4" name="Q4"  value="2">About twice the rate from bank fixed deposits</p>
</div>
                
                                                             <button class="accordion">
                 <div class="col-sm-1 btn btn-default btn-circle">5</div>
                 <div class="col-sm-11"><label for="Q5">Which of the following statement best describes your attitude about the next six month's performance of the investment?</label>
                 </div>
                
             </button>
<div class="riskProfiling">
     <p id="mood"><input type="Radio" id="Q5" name="Q5"  value="0" checked>I would have a concern with any sort of loss</p>
    <p id="mood"><input type="Radio" id="Q5" name="Q5"  value="1" >I'd get concerned if the loss was greater than 10%</p>
    <p id="mood"><input type="Radio" id="Q5" name="Q5"  value="2">I wouldn't worry about losses in that time frame</p>
</div>                
                               </div>  
                               
<!--
                                   <div class="login-btn">
                                  
             
                        <button type="" class="btn btn-lg moodNav done " > Done </button>
                      <button type="" class="btn btn-lg moodNav save " > Save </button>
                                   
                               </div>
                               
-->
                               
                               
           
                               
                               
                                   </div>       
                           
                      
                                                                        
            <div class="worksBtn">
            
            <div class="login-btn text-center page-buttons">
                                 
                <button type="" class="btn btn-lg moodNav done " onclick="myScore();"> Done </button>
            </div>
            
           <div class="login-btn text-center page-buttons">
                          <div></div>
                                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                <!--<button type="" class="btn btn-lg moodNav save " > Save </button>-->
               
            </div>
			
                       <div class="login-btn text-center page-buttons">
                          <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div> <div></div> <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                              <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                                         <div></div>
            
               
            </div>
        </div>
                           
                           
                           </div> 
                           </div>
                           
                           
                           
                        
								   <div  class="page5" style="display:none">
									   
							<br />
<p>So, you need to invest INR <span id="invest1"></span> Monthly</p>
                            
                                                   <div class="table-responsive">
                        <table class="table">
    <thead>
      <tr>
  		
        <th>Category</th>
        <th>Allocation %</th>
        <th>Amount (&#x20B9;)</th>
      </tr>
    </thead>
    <tbody>
        <tr>
  
        <td>Equity</td>
            <td id="eqPer1">25%</td>
            <td id="eqAmt1">NA</td>
      </tr>
      <tr>
  
       <td>Hybrid</td>
            <td id="hybPer1">10% </td>
           <td id="hybAmt1">NA</td>
      </tr>
      <tr>

         <td>Debt</td>
            <td id="debPer1">65%</td>
              <td id="debAmt1">NA</td>
      </tr>

    </tbody>
  </table>
													   

													   
                       </div>
                           <div class="dotHr"> 
                               <div class="login-btn">
                        <% if(loggedIn && paid){ %>
								   
								   <button type="submit" class="btn btn-lg moodNav signUp" id="schemeNext"> Next </button> 
<%  } else if(loggedIn && !paid) { %>
								   	  	<form action="/Pricing" method="get">
										
									   <button type="submit"  class="btn btn-lg moodNav signUp">Pay </button>
											 </form>
								<%  } else { %>
								   
								 
								   
									   <button type="" data-toggle="modal" data-target="#loginModal" class="btn btn-lg moodNav signUp" > login </button> 
								  <% } %>
                
                           </div>
                               
                            <div></div>
                               <div></div>
                            <div></div>
                               <div></div>
                               <div></div>
                               <div></div>
                               <div></div>
                                         <div></div>
                               <div></div>
                            <div></div>
                               <div></div>
                               <div></div>
                               <div></div>
                               <div></div>
							   
                                         <div></div>
                               <div></div>
                            <div></div>
                               <div></div>
                               <div></div>
                               <div></div>
                               <div></div>
                                         <div></div>
                               <div></div>
                            <div></div>
                               <div></div>
                               <div></div>
                               <div></div>
                               <div></div>
                                         <div></div>
                               <div></div>
                            <div></div>
                               <div></div>
                               <div></div>
                               <div></div>
                               <div></div>
                                         <div></div>
                               <div></div>
                            <div></div>
                               <div></div>
                               <div></div>
                               <div></div>
                               <div></div>
                                         <div></div>
                               <div></div>
                            <div></div>
                               <div></div>
                               <div></div>
                               <div></div>
                               <div></div>
                                         <div></div>
                               <div></div>
                            <div></div>
                               <div></div>
                               <div></div>
                               <div></div>
                               <div></div>
                                                   <div></div>
                               <div></div>
                               <div></div>
                               <div></div>
                               <div></div>
                                         <div></div>
                               <div></div>
                            <div></div>
                               <div></div>
                               <div></div>
                               <div></div>
                               <div></div>
                                         <div></div>
                               <div></div>
                            <div></div>
                               <div></div>
                               <div></div>
                               <div></div>
                               <div></div>
                                                   <div></div>
                               <div></div>
                               <div></div>
                               <div></div>
                               <div></div>
                                         <div></div>
                               <div></div>
                 
                            </div>
                           </div>
									 

			
                        <div id="" class="page7">
                            <!--<h2>Your Plan</h2>-->
		 <button type="" data-toggle="modal" data-target="#myPanModal" class="btn btn-lg moodNav go" id="initInvest" style="top: 25px;"> Invest </button>
                            <p>So, you need to invest INR <span id="invest1"><%= assetFromDb.sip %></span> Monthly</p>      <div class="table-responsive">
                       
 <table class="table">
        <tr  >
        
        <th  style="  border-top: 0;
    border-right: 1px solid #35BFD3;
    border-bottom: 1px solid #35BFD3;">Scheme Name</th>
            <th  style="  border-top: 0;
    border-right: 1px solid #35BFD3;
    border-bottom: 1px solid #35BFD3;">Category</th>
            

      
             <th  style="  border-top: 0;
   
    border-bottom: 1px solid #35BFD3;">Amount  (&#x20B9;)</th>

          </tr>
	 
	 <% for(i=0;i<asetDataDetail.length;i++) {%>
	 <tr>
	 <td><%=schemeData[i].allocationdescription %></td>
		 <td><%=schemeData[i].allocationcategory %></td>
	  <td><%=schemeData[i].allocationamount %></td>
	 </tr>

<%}%>
         
              </table>
													   

													   
                       </div>
                          
                           </div>
						<!--	<br >
                       <p id="btm" style="left: 0px;">If you wish to speak to us,call us on xxxxxxxxxx</p> -->
                  
							   
 
            </div>
             </div>
    </div>
         </div>
         
             
        </div>
<!--    </section>-->
 
            </div>
        
 <div id="" class="footFixer">
   <% include partials/footer %>
     </div>
<!--Custom Js links -->
       <script>
        
		   
		   var goalNameFromControl;
		   function goalName(name){
			   goalNameFromControl =name;
			   console.log(name);
		   }
		   
		   
		 	var rp;
    function showRiskProfile(riskProfile){
		rp=riskProfile;
	
	
	}
	 var once = true;
		   var store = false;
		   
		   function inserToBSE(){
			   
			     var data = {};
					data.pan = document.getElementById("pan").value;
					console.log("pan"+data.pan);
			 //   alert(data.pan);
			   
				 <% if(loggedIn) {%>
				   
					$.ajax({
						type: 'POST',
						data: JSON.stringify(data),
				        contentType: 'application/json',
                        url: '/InsertOrders',						
                        success: function(data) {
                            console.log('success');
							     bseDisp =true;
	
                           // console.log(JSON.stringify(data));
                        }
			   
		   })
					 <% }%>
					
			   
		   }
		   
		   
		   function checkPanStaus(){
			   

			   var data = {};
					data.pan = document.getElementById("pan").value;
					console.log("pan"+data.pan);
			    //alert(data.pan);
			   
				 <% if(loggedIn) {%>
				   
					$.ajax({
						type: 'POST',
						data: JSON.stringify(data),
				        contentType: 'application/json',
                        url: '/PANValidation',						
                        success: function(data) {
                            console.log('success');
							var myObj = JSON.parse(data);
						
						//document.getElementById("responseData").style.display='none';
                           document.getElementById("bseInvest").style.display='block';
							 document.getElementById("pan").style.display='none';
							 document.getElementById("panCheck").style.display='none';
							
							var displayMsg = "Hi "+myObj.name+" your PAN No. "+myObj.pan+" is "+myObj.msg;
							document.getElementById("data1").innerHTML= displayMsg;
                        }
			   
		   })
					 <% }%>
					
			   
		   }
		   
		   
		   function storeAssets(goalName, riskProfile, masterAmount, totalYears, sip, alloc1, amt1, alloc2, amt2, alloc3, amt3){
			   			

			   if(once && store){
			   
			   var data = {};
				   data.goalName = goalNameFromControl;
					data.riskProfile = riskProfile;
					data.masterAmount = masterAmount;
			   		data.totalYears = totalYears;
					data.sip = sip;
			   	    data.equityAmount = amt1;
			    data.hybridAmount = amt2;
			    data.debtAmount = amt3;
			    data.equityPercentage = alloc1;
			    data.hybridPercentage = alloc2;
			    data.debtPercentage = alloc3;
					
				 <% if(loggedIn) {%>
				   
					$.ajax({
						type: 'POST',
						data: JSON.stringify(data),
				        contentType: 'application/json',
                        url: '/SavedPlansHeader',						
                        success: function(data) {
                            console.log('success');
                           // console.log(JSON.stringify(data));
                        }
			   
		   })
					 <% }else { %>

					   
					$.ajax({
						type: 'POST',
						data: JSON.stringify(data),
				        contentType: 'application/json',
                        url: '/setData',						
                        success: function(data) {
                            console.log('success');
							$("#myPanModal").modal("show");
							
                           // console.log(JSON.stringify(data));
                        }
			   
		   })
	

<%}%>
					
					once= false;
					}
						   }
		   
		   
		   function setForScheme(riskProfile, sip, amt1, amt2, amt3){
			   
			   var noOfYears = document.getElementById("time").value;
			   
			   /*console.log(riskProfile, sip, amt1, amt2, amt3);*/
			/* document.getElementById("riskp").value= riskProfile;
			   document.getElementById("sip").value= sip;
			   document.getElementById("amnt1").value=amt1;
            document.getElementById("amnt2").value=amt2;
            document.getElementById("amnt3").value=amt3;
			document.getElementById("year").value=noOfYears; */
			   
		   }
		
function myinit(riskRate, chooseTable, storeAllocation)
        {
			
			var riskProfile=riskRate;
			var t = chooseTable;
            var rate=10;
            var per=12;
			var totalYears = document.getElementById("time").value;
            var nper=totalYears*per;
            var pv=0;
            var fv=document.getElementById("amount").value;
         	//document.getElementById("amountMaster").value = fv;
			
            //if number of years is less then 3 year debt is 100
             
			if(storeAllocation == 1)
				store = true;
			else
				store = false;
			
                var mn =   Math.round(pmt(10,12,nper,pv,-fv)/1000)*1000;
         console.log(riskProfile);
		
			
            document.getElementById("invest"+t).innerHTML= mn;
			document.getElementById("invest2").innerHTML= mn;
 
            if(nper<25)
             {
                 
                var eqP= 0;
                var hybP =0;
                var debtP=1;
                
                var eqMP=0;
                var hybMP=0;
                var debtMP=1;
            
                var eqAP=0;
                var hybAP=0;
                var debtAP=1;
                 
             }
            
            else if(nper>25 && mn<=2000)
             {
                 
                var eqP= 0;
                var hybP =1;
                var debtP=0;
                
                var eqMP=0;
                var hybMP=1;
                var debtMP=0;
            
                var eqAP=0;
                var hybAP=1;
                var debtAP=0;
                 
             }
            
            else
            {
               
                
                /*var result=JSON.stringifiy(data[0]);
                console.log(result); */ 
               
           // var init=JSON.parse();
                
         //
              

                 
            
                /*Conservative*/
                
                
                var eqP1=<%=data[0].asset.value%>;
                var hybP1 =<%=data[1].asset.value%>;
                var debtP1= <%=data[2].asset.value%>;
				
                var eqP=eqP1/100;
                var hybP=hybP1/100;
                var debtP=debtP1/100;
				
				//Moderate
                var eqMP1=<%=data[3].asset.value%>;;
                var hybMP1 =<%=data[4].asset.value%>;;
                var debtMP1= <%=data[5].asset.value%>;;
				
                var eqMP=eqMP1/100;
                var hybMP=hybMP1/100;
                var debtMP=debtMP1/100;
				
				//*Aggressive*/
                var eqAP1= <%=data[6].asset.value%>;;
                var hybAP1 =<%=data[7].asset.value%>;;
                var debtAP1= <%=data[8].asset.value%>;;
				
                var eqAP=eqAP1/100;
                var hybAP=hybAP1/100;
                var debtAP=debtAP1/100;
            
            
            }
            
	
            
        if(riskProfile == "Conservative"){
			
			 var amt1= Math.round((eqP*mn)/1000)*1000;
            var amt2= Math.round((hybP*mn)/1000)*1000;    
            var amt3= Math.round((debtP*mn)/1000)*1000;
            
            var total= amt1+amt2+amt3;
            
			
            
    if(mn>total)
                {
                     var mean=mn-total;
                     amt2=amt2+mean;
                     var mean2=total+mean;

                }
            else if(total>mn)
            {
            
                    var mean=total-mn;
                     amt2=amt2-mean;
                     var mean2=total-mean;

            }
            else{
                mean2=total;
            }
            
            document.getElementById("eqAmt"+t).innerHTML=amt1;
            document.getElementById("hybAmt"+t).innerHTML=amt2;
            document.getElementById("debAmt"+t).innerHTML=amt3;
                 
            
            var alloc1=Math.round((amt1/mean2)*100);
            var alloc2=Math.round((amt2/mean2)*100);
            var alloc3=Math.round((amt3/mean2)*100);
            
            var alloc4=alloc1+alloc2+alloc3;
    
            
             if(alloc4==100)
                 {
                     
                 }
            else if(alloc4>100){
                
                       allo=Math.max(alloc1,alloc2,alloc3);
                        if(allo==alloc1){
                              alloc1=alloc1-1;
                           }
                        else if(allo==alloc2)
                         {
                           alloc2=alloc2-1;
                         }
                        else
                           alloc3=alloc3-1
                        }
    
                
            else{
                   allo=Math.max(alloc1,alloc2,alloc3);
                        if(allo==alloc1){
                              alloc1=alloc1+1;
                           }
                        else if(allo==alloc2)
                         {
                           alloc2=alloc2+1;
                         }
                        else
                           alloc3=alloc3+1
                }
    
            
            
              document.getElementById("eqPer"+t).innerHTML=alloc1+"%";
            document.getElementById("hybPer"+t).innerHTML=alloc2+"%";
            document.getElementById("debPer"+t).innerHTML=alloc3+"%";
            
            setForScheme(riskProfile, mn, amt1, amt2, amt3);
			storeAssets("Broke", riskProfile, fv, totalYears, mn, alloc1, amt1, alloc2, amt2, alloc3, amt3);
			
		} 
			else if(riskProfile == "Moderate"){

			
			//Moderate calculations
            
         
            
             var amtM1= Math.round((eqMP*mn)/1000)*1000;
            var amtM2= Math.round((hybMP*mn)/1000)*1000;
            var amtM3= Math.round((debtMP*mn)/1000)*1000;
            
            var totalM= amtM1+amtM2+amtM3;
         
               if(mn>totalM)
                {
                     var mean=mn-totalM;
                     amtM2=amtM2+mean;
                     var mean3=totalM+mean;

                }
                else if(totalM>mn)
                {

                        var mean=totalM-mn;
                         amtM2=amtM2-mean;
                         var mean3=totalM-mean;

                }

            else
            {
                mean3=totalM;
            }



            
              document.getElementById("eqAmt"+t).innerHTML=amtM1;
            document.getElementById("hybAmt"+t).innerHTML=amtM2;
            document.getElementById("debAmt"+t).innerHTML=amtM3;
            
            
            
                 var allocM1= Math.round((amtM1/mean3)*100);
            var allocM2=  Math.round((amtM2/mean3)*100);
            var allocM3=  Math.round((amtM3/totalM)*100);
            
            var allom4=allocM1+allocM2+allocM3;
            var allo1;
            if(allom4==100)
                 {
                     
                 }
            else if(allom4>100){
                
                       allo1=Math.max(allocM1,allocM2,allocM3);
                        if(allo1==allocM1){
                              allocM1=allocM1-1;
                           }
                        else if(allo1==allocM2)
                         {
                           allocM2=allocM2-1;
                         }
                        else
                           allocM3=allocM3-1
                        }
    
                
            else{
                    allo1=Math.max(allocM1,allocM2,allocM3);
                        if(allo1==allocM1){
                              allocM1=allocM1+1;
                           }
                        else if(allo1==allocM2)
                         {
                           allocM2=allocM2+1;
                         }
                        else
                           allocM3=allocM3+1
                        }
                
    
            
            
            
             document.getElementById("eqPer"+t).innerHTML=allocM1+"%";
            document.getElementById("hybPer"+t).innerHTML=allocM2+"%";
            document.getElementById("debPer"+t).innerHTML=allocM3+"%";
            
			setForScheme(riskProfile, mn, amtM1, amtM2, amtM3);
			storeAssets("Broke", riskProfile, fv, totalYears, mn, allocM1, amtM1, allocM2, amtM2, allocM3, amtM3);
		}
			else {
			
			          
            //Aggressive profile
            
             var amtA1= Math.round((eqAP*mn)/1000)*1000;
            var amtA2= Math.round((hybAP*mn)/1000)*1000;
            var amtA3= Math.round((debtAP*mn)/1000)*1000;
            
            
			
              
            
            var totalA= amtA1+amtA2+amtA3;
            
			
			 
            if(totalA>mn)
                {
                     var mean=totalA-mn;
                     amtA2=amtA2-mean;
                     var mean4=totalA-mean;

                }
            else
            {
                mean4=totalA;
            }

			
            document.getElementById("eqAmt"+t).innerHTML=amtA1;
            document.getElementById("hybAmt"+t).innerHTML=amtA2;
            document.getElementById("debAmt"+t).innerHTML=amtA3;   
            
             var allocA1= Math.round((amtA1/mean4)*100);
            var allocA2=  Math.round((amtA2/mean4)*100);
            var allocA3=  Math.round((amtA3/totalA)*100);
            
            var alloA4=allocA1+allocA2+allocA3;
            var allo2;
            if(alloA4==100)
                 {
                     
                 }
            else if(alloA4>100){
                
                       allo2=Math.max(allocA1,allocA2,allocA3);
                        if(allo2==allocA1){
                              allocA1=allocA1-1;
                           }
                        else if(allo2==allocA2)
                         {
                           allocA2=allocA2-1;
                         }
                        else
                           allocA3=allocA3-1
                        }
    
                
            else{
                    allo2=Math.max(allocA1,allocA2,allocA3);
                        if(allo2==allocA1){
                              allocA1=allocA1+1;
                           }
                        else if(allo2==allocA2)
                         {
                           allocA2=allocA2+1;
                         }
                        else
                           allocA3=allocA3+1
                        }
                
    
            
            
			document.getElementById("eqPer"+t).innerHTML=allocA1+"%";
            document.getElementById("hybPer"+t).innerHTML=allocA2+"%";
            document.getElementById("debPer"+t).innerHTML=allocA3+"%";
            
			setForScheme(riskProfile, mn, amtA1, amtA2, amtA3);
			storeAssets("Broke", riskProfile, fv, totalYears, mn, allocA1, amtA1, allocA2, amtA2, allocA3, amtA3);
		}
          
           
            
 // storeAssets(goal,riskprofile, fv, time, sip, amtA1, amtA)
            
            
        }
        
        
       // console.log(  Math.round(pmt(10,12,24,0,-50000)/1000)*1000);
    

// Function to calculate Periodic Payments.

function pmt(rate, per, nper, pv, fv)

{

fv = parseFloat(fv);

nper = parseFloat(nper);

pv = parseFloat(pv);

per = parseFloat(per);

if (( per == 0 ) || ( nper == 0 )){

alert("Why do you want to test me with zeros?");

return(0);

}

rate = eval((rate)/(per * 100));

if ( rate == 0 ) // Interest rate is 0

{

pmt_value = - (fv + pv)/nper;

}

else

{

x = Math.pow(1 + rate,nper);

pmt_value = -((rate * (fv + x * pv))/(-1 + x));

}

pmt_value = conv_number(pmt_value,2);

return (pmt_value);

}

function conv_number(expr, decplaces)

{ // This function is from David Goodman's Javascript Bible.

var str = "" + Math.round(eval(expr) * Math.pow(10,decplaces));

while (str.length <= decplaces) {

str = "0" + str;

}

var decpoint = str.length - decplaces;

return (str.substring(0,decpoint) + "." + str.substring(decpoint,str.length));

} 
        
// Function to calculate future value of an investment..

function fv(rate, per, nper, pmt, pv)

{

nper = parseFloat(nper);

pmt = parseFloat(pmt);

pv = parseFloat(pv);

rate = eval((rate)/(per * 100));

if (( pmt == 0 ) || ( nper == 0 )) {

alert("Why do you want to test me with zeros?");

return(0);

}

if ( rate == 0 ) // Interest rate is 0

{

fv_value = -(pv + (pmt * nper));

}

else

{

x = Math.pow(1 + rate, nper);

// y = Math.pow(1 + rate, nper);

fv_value = - ( -pmt + x * pmt + rate * x * pv ) /rate;

}

fv_value = conv_number(fv_value,2);

return (fv_value);

}

function conv_number(expr, decplaces)

{ // This function is from David Goodman's Javascript Bible.

var str = "" + Math.round(eval(expr) * Math.pow(10,decplaces));

while (str.length <= decplaces) {

str = "0" + str;

}

var decpoint = str.length - decplaces;

return (str.substring(0,decpoint) + "." + str.substring(decpoint,str.length));

}
		   
/*
$('#checkPANStatus').submit(function(event){ 
   event.preventDefault();
              
          // myScore();
   
        // console.log("Hi");   
   
   
      var      pan=document.getElementById('pan').value;
   
    //alert(pan);
         
       $.ajax({
       type: "POST",
       url: '/GoalSelection',
       data:  {pan},
       success: function(data)
       {
           //alert(data);
		   
          // window.location.href= "/GoalSelection";
       }
           
   });


    
});
*/

					 
				 
</script>     
  <script src="javascripts/TweenMax.min.js"></script>
<script src="javascripts/TextPlugin.min.js"></script>
         <script src="javascripts/main.js"></script>
    <script src="javascripts/control.js" type="text/javascript"></script>
			 <script src="javascripts/moodCalculater.js" type="text/javascript"></script>
      
				 <% if(scheme)  {%>
			  <script>
				  var $imgLink = "images/";
var $imgExtension = ".png";
	var tesss = "<%= assetFromDb.mood %>";	
			
        var $asda=$imgLink+tesss+$imgExtension;
				/*  console.log($asda);*/
		/*$("#setMood").attr("src",$asda);*/

	function auth(social){
		
		var auth = "/auth/";
     window.location.href=auth+social;
		
	}
				  	for( i=1; i<=5;i++){
						if(i<5)
							$(".moods .pagination li:nth-child("+i+") a").css({"background-color":"#F2F5FB","color":"#FFDE15","border-color":"#FFDE15"});
						else if(i==5)
						  $(".pagination li:nth-child("+i+") a").css({"background-color":"#FFDE15","color":"#35BFD3","border-color":"#FFDE15"});
					}
			 		
				  $(".moods .row .slider").hide();
		
    /* console.log(  $("#setMood").attr("src", "images/"+asda+".png"));*/
				  </script>	
			 <%} %>
			 			<script>
							
$(document).ready(function(){
   
   <% if (panMessage.length > 0) { %>
	 //document.getElementById("initInvest").style.display='none';

		$("#bseModal").modal("show");
		//alert("sohan");
		

<% } %>
	
});
							
							
	
							
</script>
			 
</body>
</html>
