       <!DOCTYPE html>
<html lang="en">
     
<head>

 <% include partials/head %>
<link rel="stylesheet" href="stylesheets/creativemobile.css">
</head>
      <% include partials/headerMobile%>
    <div class="container" style="    padding-right: 0px;
    padding-left: 0px;">
       
    <div id="invoices" class="text-center">
          
                <div class="page31" style="">
                          <h3 style="color:#35BFD3;">
                     My Transactions</h3>       
                       <div class="table-responsive tableAccounts"style="" >
                           
                   <br>
                             <%if(trxn){%> 
                            <%for(i=0;i<trxn.length;i++){%>
             <table class="table" style="
    border-radius: 21px;
">
                                 <thead>
                                     <tr>
                                      <th class="thead1" colspan="2">Date :<%=trxn[i].transactiondate%></th>
                                     
                                     </tr>
                                </thead>
                             <thead>
                                     <tr>
                                      <th class="thead2" colspan="2"><%=trxn[i].description%></th>
                                     
                                     </tr>
                                </thead>
                                 <tbody>
                                     <tr>
                                        
                                         <td>
                                         Transaction Id</td>
                                      <td style="border-right: none;">Transaction.Ref (&#x20B9;)</td>
                                        </tr>
                                        <tr>
                                          <td id="eqPer"><%=trxn[i].transactionid%></td>
                                          <td id="eqAmt" style="border-right: none;"><%=trxn[i].reference%></td>
                                        </tr>
                                     
                                     <tr>
                                        
                                         <td>
                                         Amount</td>
                                      <td style="border-right: none;">Status</td>
                                        </tr>
                                        <tr>
                                          <td id="eqPer"><%=trxn[i].amount%></td>
                                          <td id="eqAmt" style="border-right: none;"><%=trxn[i].status%></td>
                                        </tr>
                                 </tbody>
                          </table>  
          <br>      
                            <%}%>
                           
                           <% }else{ %>
          <h2>There is no transactions yet</h2>
          <%}%>
            <!-- <table class="table" style="
    border-radius: 21px;
">
                                 <thead>
                                     <tr>
                                      <th class="thead1" colspan="2">20 September 2016</th>
                                     
                                     </tr>
                                </thead>
                             <thead>
                                     <tr>
                                      <th class="thead2" colspan="2">Fund Yesno Bank</th>
                                     
                                     </tr>
                                </thead>
                                 <tbody>
                                     <tr>
                                        
                                         <td>
                                         Units</td>
                                      <td style="border-right: none;">Amount (&#x20B9;)</td>
                                        </tr>
                                        <tr>
                                          <td id="eqPer">50%</td>
                                          <td id="eqAmt" style="border-right: none;">4,000,00</td>
                                        </tr>
                                 </tbody>
                          </table>  
                    <br>                      
             <table class="table" style="
    border-radius: 21px;
">
                                 <thead>
                                     <tr>
                                      <th class="thead1" colspan="2">20 September 2016</th>
                                     
                                     </tr>
                                </thead>
                             <thead>
                                     <tr>
                                      <th class="thead2" colspan="2">Fund Yesno Bank</th>
                                     
                                     </tr>
                                </thead>
                                 <tbody>
                                     <tr>
                                        
                                         <td>
                                         Units</td>
                                      <td style="border-right: none;">Amount (&#x20B9;)</td>
                                        </tr>
                                        <tr>
                                          <td id="eqPer">50%</td>
                                          <td id="eqAmt" style="border-right: none;">4,000,00</td>
                                        </tr>
                                 </tbody>
                          </table>  
                           
                            <br>              
             <table class="table" style="
    border-radius: 21px;
">
                                 <thead>
                                     <tr>
                                      <th class="thead1" colspan="2">20 September 2016</th>
                                     
                                     </tr>
                                </thead>
                             <thead>
                                     <tr>
                                      <th class="thead2" colspan="2">Fund Yesno Bank</th>
                                     
                                     </tr>
                                </thead>
                                 <tbody>
                                     <tr>
                                        
                                         <td>
                                         Units</td>
                                      <td style="border-right: none;">Amount (&#x20B9;)</td>
                                        </tr>
                                        <tr>
                                          <td id="eqPer">50%</td>
                                          <td id="eqAmt" style="border-right: none;">4,000,00</td>
                                        </tr>
                                 </tbody>
                          </table>  
                -->           

                                 
          </div>
    
    </div>
         <% include partials/footerMobile %>
        </div>